<aside class="clients">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <a href ="http://www.e2sys.com" target = "_blank">
                            <img class="img-centered img-responsive" src="/static/img/clients/easternenergy.jpg" alt ="">
                        </a>
                    </div>
                    <div class="col-lg-6">
                        <a href ="http://www.mwgroup.net/" target ="_blank">
                            <img class="img-centered img-responsive" src="/static/img/clients/mwgroup.jpg" alt = "">
                        </a>
                    </div>
                </div>
            </div>
        </aside>