<aside class="clients">
    <div class="container" style="width:100%">
        <div class="row">
            <div class="col-lg-3">
                <a href ="http://www.e2sys.com" target = "_blank">
                    <img class="img-responsive" src="/static/img/clients/easternenergy.jpg" alt ="">
                </a>
            </div>
            <div class="col-lg-3">
                <a href ="http://www.pwgrosser.com/" target ="_blank">
                    <img class="img-responsive" src="/static/img/clients/pwgrosser.png" alt = "">
                </a>
            </div>
            <div class="col-lg-3">
                <a href="http://www.lihti.net/" target="_blank">
                    <img class="img-responsive" src="/static/img/clients/lihti.jpg" alt="">
                </a>
            </div>
            <div class="col-lg-3" style="padding-top:1.6em;">
                <a href="http://www.stonybrook.edu/" target="_blank">
                    <img class="img-responsive" src="/static/img/clients/sbu.png" alt="">
                </a>
            </div>
        </div>
    </div>
</aside>