<footer>
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <ul class="list-inline social-buttons">
                            <li><a href="http://www.facebook.com/"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a href="http://www.twitter.com/"><i class="fa fa-facebook"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <span class="copyright">Copyright SBBS; <br>Stony Brook Building Science 2016</span>
                    </div>
                </div>
            </div>
        </footer>