<!-- Side Toolbar -->
        <aside class="social-sidebar">
            <div class="sidebar-wrapper clearfix">
                <a id='toolClick' class="white-bkg pinterest-red-hover circle print <%if (title == 'Stony Brook Building Science') { %> active-icon <%}%>" href="/" title="Home">
                    <span class="label"></span>
                    <em class="fa fa-home"></em>
                </a>
            </div>
            
            <div class="sidebar-wrapper clearfix">
                <a id='toolClick' class="white-bkg pinterest-red-hover circle print <%if (title == 'Energy Modeling') { %> active-icon <%}%>" href="/energyModeling" title="Energy Modeling">
                    <span class="label"></span>
                    <em class="fa fa-lightbulb-o"></em>
                </a>
            </div>
            
            <div class="sidebar-wrapper clearfix">
                <a id='toolClick' class="white-bkg pinterest-red-hover circle print <%if (title == 'Mechanical Systems') { %> active-icon <%}%>" href="/mechSystems" title="Mechanical Systems">
                    <span class="label"></span>
                    <em class="fa fa-cogs"></em>
                </a>
            </div>
            
            <div class="sidebar-wrapper clearfix">
                <a id='toolClick' class="white-bkg pinterest-red-hover circle print <%if (title == 'Controls & Automation') { %> active-icon <%}%>" href="/controls" title="Controls & Automation">
                    <span class="label"></span>
                    <em class="fa fa-laptop"></em>
                </a>
            </div>
            
            <div class="sidebar-wrapper clearfix">
                <a id='toolClick' class="white-bkg pinterest-red-hover circle print <%if (title == 'Renewable Power Generation') { %> active-icon <%}%>" href="/renewablePower" title="Renewable Power Generation">
                    <span class="label"></span>
                    <em class="fa fa-recycle"></em>
                </a>
            </div>
        </aside>