<!-- Side Toolbar -->
<aside class="social-sidebar">
    <div class="sidebar-wrapper clearfix">
        <a class="toolClick white-bkg pinterest-red-hover circle print <%if (title == 'Stony Brook Building Science') { %> active-icon smooth-scroll <%}%>" 
           <% if(title=="Stony Brook Building Science"){ %>
                        href="#page-top"
                        data-ease="easeInOutQuad"
                        data-history="true"
                    <% } else{ %>  
                        href="/"
                    <% } %>
                    
           title="Home">
            <span class="label"></span>
            <em class="fa fa-home"></em>
        </a>
    </div>

    <div class="sidebar-wrapper clearfix">
        <a class="toolClick white-bkg pinterest-red-hover circle print <%if (title == 'Energy Modeling') { %> active-icon smooth-scroll<%}%>" 
           <% if(title=='Energy Modeling'){ %>
                        href="#page-top"
                        data-ease="easeInOutQuad"
                        data-history="true"
                    <% } else{ %>  
                        href="/energyModeling"
                    <% } %>

           title="Energy Modeling">
            <span class="label"></span>
            <em class="fa fa-lightbulb-o"></em>
        </a>
    </div>

    <div class="sidebar-wrapper clearfix">
        <a class="toolClick white-bkg pinterest-red-hover circle print <%if (title == 'Mechanical Systems Design') { %> active-icon smooth-scroll<%}%>" 
          <% if(title=='Mechanical Systems Design'){ %>
                   href="#page-top"
                   data-ease="easeInOutQuad"
                   data-history="true"
                   <% } else{ %>
                   href="/mechSystems"
                   <% } %>

           title="Mechanical Systems Design">
            <span class="label"></span>
            <em style="font-size:32px;" class="material-icons">toys</em>
        </a>
    </div>

    <div class="sidebar-wrapper clearfix">
        <a class="toolClick white-bkg pinterest-red-hover circle print <%if (title == 'Controls & Automation') { %> active-icon smooth-scroll<%}%>" 
         <% if(title=='Controls & Automation'){ %>
                   href="#page-top"
                   data-ease="easeInOutQuad"
                   data-history="true"
                   <% } else{ %>
                   href="/controls"
                   <% } %>

           title="Controls & Automation">
            <span class="label"></span>
            <em class="fa fa-laptop"></em>
        </a>
    </div>

    <div class="sidebar-wrapper clearfix">
        <a class="toolClick white-bkg pinterest-red-hover circle print <%if (title == 'Renewable Power Generation') { %> active-icon smooth-scroll<%}%>" 
           <% if(title=='Renewable Power Generation'){ %>
                   href="#page-top"
                   data-ease="easeInOutQuad"
                   data-history="true"
                   <% } else{ %>
                   href="/renewablePower"
                   <% } %>

           title="Renewable Power Generation">
            <span class="label"></span>
            <em class="fa fa-recycle"></em>
        </a>
    </div>
    
    <div class="sidebar-wrapper clearfix">
        <a class="toolClick white-bkg pinterest-red-hover circle print <%if (title == 'About Us') { %> active-icon smooth-scroll<%}%>" 
          <% if(title=="About Us"){ %>
                   href="#page-top"
                   data-ease="easeInOutQuad"
                   data-history="true"
                   <% } else{ %>
                   href="/about"
                   <% } %>
                   
             title="About Us">
            <span class="label"></span>
            <em class="fa fa-info"></em>
        </a>
    </div>
</aside>