<head
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/static/img/favicon.ico">
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="/static/css/MultiCSS/main.css">
    
    <link href="/static/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="/static/vendor/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet">

    <!-- Slideshow CSS -->
    <link rel="stylesheet" href="/static/css/MultiCSS/owl.carousel.css">
    <link rel="stylesheet" href="/static/css/MultiCSS/owl.transitions.css">
    <link rel="stylesheet" href="/static/css/MultiCSS/animate.min.css">
    
    <!-- Theme CSS -->
    <link href="/static/css/agency.css" rel="stylesheet">
    
    <!-- jQuery library (served from Google) -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>    
    
    <title><%=title %></title>

</head>