<div class="item" style="background-color: #666666;"> 
    <div class="slider-inner">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <div class="carousel-content">
                        <h2 style="color:white; font-size:40px">Name of Model</h2>
                        <p class="mt" style='color:white;'>SBBS is able to create 
                            detailed 3D models of mechanical systems utilizing 
                            Revit. This includes all aspects of the system, 
                            from pumps, piping, connections, ducts, valves, and 
                            more specific equipment. These detailed system models 
                            allow for more accurate energy and load analysis.
                        </p><br>
                    </div>
                </div>
                <div class="col-sm-6 col-xs-12">
                    <div class="carousel-content">
                        <img class="ssimg" data-u='image' src="/img/mechSystems/01.jpg" class="img-responsive mt" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>