<div class="item" style="background-color: #666666;"> 
    <div class="slider-inner">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <div class="carousel-content">
                        <h2 style="color:white; font-size:40px">Revit Environment</h2>
                        <p class="mt" style='color:white;'>SBBS is able to 
                            implement detailed 3D models of mechanical systems 
                            within the specific building constructions in Autodesk 
                            Revit. This allows for more accurate sizing, energy, and 
                            load analysis. It also allows SBBS and its clients 
                            to visualize the layout and setup of the mechanical 
                            systems within a building to ensure proper location, 
                            sizing, and equipment use.
                        </p><br>
                    </div>
                </div>
                <div class="col-sm-6 col-xs-12">
                    <div class="carousel-content">
                        <img class="ssimg" data-u='image' src="/img/mechSystems/04.jpg" class="img-responsive mt" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>