<div class="item" style="background-color: #666666;"> 
    <div class="slider-inner">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <div class="carousel-content">
                        <h2 style="color:white; font-size:40px">Precise Equipment Models</h2>
                        <p class="mt" style='color:white;'>Many top producers of 
                            mechanical system equipment offer 3D models of their 
                            specific equipment that include the physical and 
                            functional characteristics. SBBS utilizes these models 
                            within their own 3D building models and mechanical 
                            system models in order to provide a more accurate 
                            representation of the load and energy capabilities 
                            of a system.   
                        </p><br>
                    </div>
                </div>
                <div class="col-sm-6 col-xs-12">
                    <div class="carousel-content">
                        <img class="ssimg" data-u='image' src="/img/mechSystems/bim.png" class="img-responsive mt" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>