<div class="item" style="background-color: #666666;"> 
    <div class="slider-inner">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <div class="carousel-content homepage_slide" id="controlsSlide">
                        <h2 style="color:white; font-size:40px">Automation & Controls</h2>
                        <p class="mt" style='color:white;'>Stony Brook Building Science specializes in Controls Design, Integration and Programming. 
                            We offer expertise in maintaining, programming, and troubleshooting building control systems.
                            We also provide controls documentation for each project in integration of all the controls 
                            and deliverables.</p><br>
                        <a style="margin-bottom:10px;" class="btn btn-md" style="text-align:center;" href="/controls">Learn More</a>
                    </div>
                </div>
                <div class="col-sm-6 col-xs-12" style="z-index:2;">
                    <div class="carousel-content">
                        <img class="ssimg" data-u='image' src="/static/img/cpu.jpg" class="img-responsive mt" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>