<div class="item" style="background-color: #666666;">
    <div class="slider-inner">
        <div class="container">
            <div class="row">
                <div class="col-md-6" style="vertical-align:middle;">
                    <div class="carousel-content slide1">
                        <h2 style="font-size:40px; color:white;">Energy Modeling at SBBS</h2>
                        <p style ="color:white;" class="mt">Stony Brook Building Science works on building 3D Models.</p><br>
                        <a class="btn btn-md" href="/energyModeling">Learn More</a>
                    </div>
                </div>
                <div class="col-md-6" style="margin:auto;">
                    <div class="carousel-content">
                        <img class="ssimg" data-u="image" src="/static/img/energy/03.jpg" class="img-responsive mt" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>