<div class="item" style="background-color: #666666;">
    <div class="slider-inner">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <div class="carousel-content homepage_slide" id="energySlide">
                        <h2 style="font-size:40px; color:white;">Energy Modeling</h2>
                        <p style ="color:white;" class="mt">Using Insight 360, SBBS produces computer automated 
                        models of heating and cooling loads in residential buildings.</p><br>
                        <a style="margin-bottom:10px;" class="btn btn-md" href="/energyModeling">Learn More</a><br>
                    </div>
                </div>
                <div class="col-sm-6 col-xs-12" style="z-index:2;">
                    <div class="carousel-content">
                        <img class="ssimg" data-u="image" src="/static/img/energy/03.jpg" class="img-responsive mt" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>