<div class="item" style="background-color: #666666;"> 
    <div class="slider-inner">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="carousel-content slide2">
                        <h2 style = "color:white;font-size:40px">Mechanical Systems</h2>
                        <p class="mt" style = "color:white">Stony Brook Building Science works on planning out mechanical systems.</p><br>
                        <a class="btn btn-md" style="text-align:center;" href="/mechSystems">Learn More</a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="carousel-content">
                        <img class="ssimg" data-u="image" src="/static/img/mechSystems/01.jpg" class="img-responsive mt" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>