<div class="item" style="background-color: #666666;"> 
    <div class="slider-inner">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="carousel-content slide4">
                        <h2 style = "color:white;font-size:40px">Renewable Power Generation</h2>
                        <p class="mt" style = "color:white">Stony Brook Building Science is working on developing tools that will be able to re-use
                            power in an efficient and eco-friendly manner.</p><br>
                        <a class="btn btn-md" style="text-align:center;" href="/renewablePower">Learn More</a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="carousel-content">
                        <img class="ssimg" data-u='image' src="/static/img/solar.png" class="img-responsive mt" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>