<div class="item" style="background-color: #666666;"> 
    <div class="slider-inner">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <div class="carousel-content homepage_slide" id="powerSlide">
                        <h2 style = "color:white;font-size:40px">Renewable Power Generation</h2>
                        <p class="mt" style = "color:white">SBBS works with project 
                            developers to analyze energy production and perform 
                            detailed design for Solar PV, Wind Turbine and Fuel 
                            Cell renewable power generation for both grid-scale 
                            and commercial applications.  
                        </p><br>
                        <a style="margin-bottom:10px;" class="btn btn-md" style="text-align:center;" href="/renewablePower">Learn More</a>
                    </div>
                </div>
                <div class="col-sm-6 col-xs-12" style="z-index:2;">
                    <div class="carousel-content">
                        <img class="ssimg" data-u='image' src="/img/solar.png" class="img-responsive mt" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>