<div class="item" style="background-color: #666666;"> 
    <div class="slider-inner">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 col-xs-12">
                    <div class="carousel-content">
                        <h2 style="color:white; font-size:40px">Name of Model</h2>
                        <p class="mt" style='color:white;'>Residence on the north shore of Long Island.</p><br>
                    </div>
                </div>
                <div class="col-sm-4 col-xs-12">
                    <div class="carousel-content">
                        <img class="ssimg" data-u='image' src="/static/img/energy/02.jpg" class="img-responsive mt" alt="">
                    </div>
                </div>
                <div class="col-sm-4 col-xs-12">
                    <div class="carousel-content">
                        <img class="ssimg" data-u='image' src="/static/img/energy/07.jpg" class="img-responsive mt" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>