<div class="item" style="background-color: #666666;"> 
    <div class="slider-inner">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <div class="carousel-content">
                        <h2 style="color:white; font-size:40px">California Coastal Residence</h2>
                        <p class="mt" style='color:white;'>Design brief for this 
                        residence called for low-performing, single-pane, and 
                        cast-iron framed exterior glass for period Spanish Colonial 
                        style. California energy code required additional 
                        efficiencies in the building structure and the mechanical 
                        systems including geothermal and energy storage 
                        capabilites.</p><br>
                    </div>
                </div>
                <div class="col-sm-6 col-xs-12">
                    <div class="carousel-content">
                        <img class="ssimg" data-u='image' src="/img/energy/01.jpg" class="img-responsive mt" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>