<div class="item" style="background-color: #666666;"> 
    <div class="slider-inner">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 col-xs-12">
                    <div class="carousel-content">
                        <h2 style="color:white; font-size:40px">Old Field, NY</h2>
                        <p class="mt" style='color:white;'>Internal and external
                            insulation in this home results in very low heating 
                            and cooling loads. Predictive thermal modeling informs 
                            architectural allowances for aesthetics.
                        </p><br>
                    </div>
                </div>
                <div class="col-sm-4 col-xs-12">
                    <div class="carousel-content">
                        <img class="ssimg" data-u='image' src="/img/energy/03.jpg" class="img-responsive mt" alt="">
                    </div>
                </div>
                <div class="col-sm-4 col-xs-12">
                    <div class="carousel-content">
                        <img class="ssimg" data-u='image' src="/img/energy/08.jpg" class="img-responsive mt" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>