<div class="item" style="background-color: #666666;"> 
    <div class="slider-inner">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="carousel-content">
                        <h2 style="color:white; font-size:40px">Hamptons Residence</h2>
                        <p class="mt" style='color:white;'>Using computer automated drawings along 
                        with energy analysis tools, SBBS can analyze zones within a building in 
                        order to precisely pinpoint an area subject to the most energy losses 
                        and design solutions to reduce these losses.</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="carousel-content">
                        <img class="ssimg" data-u='image' src="/static/img/energy/01.jpg" class="img-responsive mt" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>