<div class="item" style="background-color: #666666;"> 
    <div class="slider-inner">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <div class="carousel-content">
                        <h2 style="color:white; font-size:40px">Hamptons Residence</h2>
                        <p class="mt" style='color:white;'>Objectives for high rates 
                        of ventilation were achieved through energy recovery 
                        ventilation and transmittance of solar radiation was 
                        evaluated for various fenestration specifications.</p><br>
                    </div>
                </div>
                <div class="col-sm-6 col-xs-12">
                    <div class="carousel-content">
                        <img class="ssimg" data-u='image' src="/img/energy/09.jpg" class="img-responsive mt" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>