<div class="item" style="background-color: #666666;"> 
    <div class="slider-inner">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <div class="carousel-content">
                        <h2 style="color:white; font-size:40px">Photovoltaic Analysis</h2>
                        <p class="mt" style='color:white;'>Cost savings analysis 
                            for different PV panel options are available through 
                            Insight. The 3D model of the specific construction 
                            developed by SBBS allows for the analysis of the 
                            utilization of PV panels and the cost-savings benefits 
                            available. Different PV panel efficiencies are 
                            compared to analyze the cost-savings potential if PV 
                            was to be utilized. This allows SBBS and its clients 
                            to make informed decisions about the use of PV energy 
                            in each individual design.
                        </p>
                    </div>
                </div>
                <div class="col-sm-6 col-xs-12">
                    <div class="carousel-content">
                        <img class="ssimg" data-u='image' src="/img/energy/insight5.png" class="img-responsive mt" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>