<div class="item" style="background-color: #666666;"> 
    <div class="slider-inner">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <div class="carousel-content">
                        <h2 style="color:white; font-size:40px">Name of Model</h2>
                        <p class="mt" style='color:white;'>SBBS aims to produce the most 
                            effective energy optimization. Using Insight 360, we can develop 
                            multiple energy saving scenarios and compare the models in order 
                            to decide the most effective solution. 
                        </p>
                    </div>
                </div>
                <div class="col-sm-6 col-xs-12">
                    <div class="carousel-content">
                        <img class="ssimg" data-u='image' src="/img/energy/insight2.jpg" class="img-responsive mt" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>