<div class="item" style="background-color: #666666;"> 
    <div class="slider-inner">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <div class="carousel-content">
                        <h2 style="color:white; font-size:40px">Insight 360 Models</h2>
                        <p class="mt" style='color:white;'>The affect of lights 
                            within specific constructions based on the 3D models 
                            developed by SBBS is analyzed through Insight. 
                            This allows for the comparison of the internal heat 
                            gain and power consumption potential of various 
                            lighting efficiency settings. The cost-impact of 
                            the various efficiencies is easily comparable in 
                            order for SBBS and its clients to easily make 
                            informed decisions on such details as the lighting 
                            and its efficiency within the specific building 
                            based on its cost and energy impact.
                        </p>
                    </div>
                </div>
                <div class="col-sm-6 col-xs-12">
                    <div class="carousel-content">
                        <img class="ssimg" data-u='image' src="/img/energy/insight1.png" class="img-responsive mt" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>