<div class="item" style="background-color: #666666;"> 
    <div class="slider-inner">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <div class="carousel-content">
                        <h2 style="color:white; font-size:40px">Name of Model</h2>
                        <p class="mt" style='color:white;'>Such details as plug 
                            load efficiency, which is the power used by equipment 
                            within the building based on building type, are 
                            available through Insight 360. These details allow 
                            for the most efficient and cost-effective planning 
                            of building systems for our clients. This specific 
                            analysis gives a comparison of various plug load 
                            efficiencies and their cost impact based on the 
                            specific 3D building model developed by SBBS.
                        </p>
                    </div>
                </div>
                <div class="col-sm-6 col-xs-12">
                    <div class="carousel-content">
                        <img class="ssimg" data-u='image' src="/img/energy/insight3.png" class="img-responsive mt" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>