<div class="item" style="background-color: #666666;"> 
    <div class="slider-inner">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <div class="carousel-content">
                        <h2 style="color:white; font-size:40px">Name of Model</h2>
                        <p class="mt" style='color:white;'>Based on the specific 
                            3D building model constructed by SBBS, a range of 
                            HVAC systems and their corresponding efficiencies 
                            are calculated for comparison. This design-specific 
                            analysis allows SBBS and its clients to easily 
                            compare various options for HVAC systems allowing 
                            us to determine the most cost-effective and efficient 
                            system based on building construction and location, 
                            as well as client preferences and needs.
                        </p>
                    </div>
                </div>
                <div class="col-sm-6 col-xs-12">
                    <div class="carousel-content">
                        <img class="ssimg" data-u='image' src="/img/energy/insight2.png" class="img-responsive mt" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>