<div class="item" style="background-color: #666666;"> 
    <div class="slider-inner">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <div class="carousel-content">
                        <h2 style="color:white; font-size:40px">Insight 360 Models</h2>
                        <p class="mt" style='color:white;'>Insight 360 is a an energy modeling 
                            tool that provides precise analysis of a 3D modeled building. 
                            SBBS uses this tool in order to set up controls and optimize 
                            HVAC, Lighting and Plug Load efficiency. 
                        </p>
                    </div>
                </div>
                <div class="col-sm-6 col-xs-12">
                    <div class="carousel-content">
                        <img class="ssimg" data-u='image' src="/static/img/energy/insight1.jpg" class="img-responsive mt" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>