<div class="item" style="background-color: #666666;"> 
    <div class="slider-inner">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 col-xs-12">
                    <div class="carousel-content">
                        <h2 style="color:white; font-size:40px">NREL SAM</h2>
                        <p class="mt" style='color:white;'>SBBS utilizes Green 
                            Building Studio which allows for a detailed analysis 
                            of a 3D building model and the energy potential 
                            within the building based on construction and location. 
                            These potentials include solar, wind, and natural 
                            ventilation, allowing SBBS and its clients to compare 
                            various options for increasing efficiency and energy 
                            savings. LEED certification details are also available 
                            within Green Building Studio based on the specific 
                            3D model being analyzed.
                        </p>
                    </div>
                </div>
                <div class="col-sm-8 col-xs-12">
                    <div class="carousel-content">
                        <img class="ssimg" data-u='image' src="/img/power/sam1.png" class="img-responsive mt" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>