<div class="item" style="background-color: #666666;"> 
    <div class="slider-inner">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <div class="carousel-content">
                        <h2 style="color:white; font-size:40px">NREL SAM</h2>
                        <p class="mt" style='color:white;'>NREL SAM is a tool SBBS uses to 
                            produce statistical data on renewable power generation sites. 
                            Using TMY-based data, we can determine the total power generated 
                            throughout every month of the year and the cost analysis of the site. 
                            This particular sample is based off of a solar farm.  
                        </p>
                    </div>
                </div>
                <div class="col-sm-6 col-xs-12">
                    <div class="carousel-content">
                        <img class="ssimg" data-u='image' src="/img/power/sam1.png" class="img-responsive mt" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>