<div class="item" style="background-color: #666666;"> 
    <div class="slider-inner">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <div class="carousel-content">
                        <h2 style="color:white; font-size:40px">Name of Model</h2>
                        <p class="mt" style='color:white;'>Through the use of the 
                            NREL SAM tool, SBBS is able to evaluate the Annual 
                            Energy Production of a solar PV setup based on location, 
                            module type, inverter type, and overall system design. 
                            Predictions are made based on weather data for the 
                            specific location as well as system degradation. 
                            There are also capabilities for wind and geothermal 
                            system analysis.
                        </p><br>
                    </div>
                </div>
                <div class="col-sm-6 col-xs-12">
                    <div class="carousel-content">
                        <img class="ssimg" data-u='image' src="/img/power/sam2.png" class="img-responsive mt" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>