<div class="item" style="background-color: #666666;"> 
    <div class="slider-inner">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <div class="carousel-content">
                        <h2 style="color:white; font-size:40px">Tridium Controls
                        Platform</h2>
                        <p class="mt" style='color:white;'>SBBS uses the open 
                            Tridium platform for new installations and to provide 
                            a single interface to distributed mechanical controls 
                            infrastructure. Programing interfaces remain 
                            completely open. Clients retain full access to the 
                            platform and custom controls developed on their behalf.  
                        </p>
                    </div>
                </div>
                <div class="col-sm-6 col-xs-12">
                    <div class="carousel-content">
                        <img class="ssimg" data-u='image' src="/img/controls/03.jpg" class="img-responsive mt" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>