<div class="item" style="background-color: #666666;"> 
    <div class="slider-inner">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="carousel-content">
                        <h2 style="color:white; font-size:40px">Name of Model</h2>
                        <p class="mt" style='color:white;'>SBBS specializes in the automation 
                            of Tridium’s Jace controller to optimize building systems. It works 
                            off a Niagara workbench and provides effective building automation controls. 
                        </p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="carousel-content">
                        <img class="ssimg" data-u='image' src="/static/img/controls/03.jpg" class="img-responsive mt" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>