<div class="item" style="background-color: #666666;"> 
    <div class="slider-inner">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <div class="carousel-content">
                        <h2 style="color:white; font-size:40px">Controls Sequence 
                            Documentation</h2>
                        <p class="mt" style='color:white;'>Full controls 
                            documentation is provided including floor plans with 
                            detailed controls specifications and controls 
                            sequence logic flow diagrams.
                        </p><br>
                    </div>
                </div>
                <div class="col-sm-6 col-xs-12">
                    <div class="carousel-content">
                        <img class="ssimg" data-u='image' src="/img/controls/01crop.jpg" class="img-responsive mt" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>