<!DOCTYPE html>
<html>
    <% include ../partials/topCSS %>

    <body id="page-top" class="index">

        <!-- Navigation -->
        <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header page-scroll">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                    </button>
                    <a class="navbar-brand" href="/">SBBS</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="hidden">
                            <a href="#page-top"></a>
                        </li>
                        <li>
                            <p class="smooth-scroll pageName" data-ease="easeInOutQuad" data-history="true">About Us:</p>
                        </li>
                        <li>
                            <a class="smooth-scroll" data-ease="easeInOutQuad" data-history="true" href ="#about">Mission Statement</a>
                        </li>
                        <li>
                            <a class="smooth-scroll" data-ease="easeInOutQuad" data-history="true" href ="#team">Team</a>
                        </li>
                        <li>
                            <a class="smooth-scroll" data-ease="easeInOutQuad" data-history="true" href ="#mapSection">Map</a>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>

        <!-- Header -->
        <header style="background-image: url(/static/img/headerImages/power.jpg)">
            <div class="container">
                <div class="intro-text" style="padding-top:225px;">
                    <div class="intro-heading">About Us</div>
                    <div class="intro-lead-in">Modeling buildings for a more sustainable future. </div>
                    <div style="padding-top:90px;">
                        <a class="smooth-scroll" data-ease="easeInOutQuad" data-history="true" href="#about">
                            <i class="fa fa-angle-double-down headerDownArrow"></i>
                        </a>
                    </div>
                </div>
            </div>
        </header>

        <% include ../partials/sideToolbar %>

        <!-- About Section -->
        <section id="about" class="bg-light-gray">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 class="section-heading">About</h2>
                        <h3 class="section-subheading text-muted"></h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <p style="line-height: 2.5;">Stony Brook Building Science, LLC. is headquartered 
                            in the LI High Technology Incubator and specializes in advanced energy
                            modeling and the development of solutions that optimize the energy efficiency of 
                            commercial and residential buildings. SBBS uniquely combines the disciplines of 
                            Energy Modeling, Mechanical Systems design and Building Automation. Efficiency measures
                            are modeled, designed, and optimally controlled.
                        </p>
                    </div>
                </div>
            </div>
        </section>

        

        <% include ../partials/clients %>

        <a class="scrollToTop smooth-scroll" data-ease="easeInQuad" data-history="true" href="#page-top" style="display: none;">
            <i class="fa fa-angle-up"></i>
        </a>

        <% include ../partials/footer %>
        <% include ../partials/bottomScripts %>
        <% include ../partials/readySlideshow %>

    </body>

</html>