<!DOCTYPE html>
<html>
    <% include ../partials/topCSS %>

    <body id="page-top" class="index">

        <!-- Navigation -->
        <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
            <div>
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header page-scroll">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                    </button>
                    <a class="navbar-brand" href="/">SBBS</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="navbarButtons collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right listFont">
                        <li class="hidden">
                            <a href="#page-top"></a>
                        </li>
                        <li>
                            <p class="smooth-scroll pageName" data-ease="easeInOutQuad" data-history="true">About Us:</p>
                        </li>
                        <li>
                            <a class="smooth-scroll" data-ease="easeInOutQuad" data-history="true" href ="#about">About</a>
                        </li>
                        <li>
                            <a class="smooth-scroll" data-ease="easeInOutQuad" data-history="true" href ="#team">Team</a>
                        </li>
                        <li>
                            <a class="smooth-scroll" data-ease="easeInOutQuad" data-history="true" href ="#map">Map</a>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>

        <!-- Header -->
        <header id="aboutHeader" class="parallax" data-factor="-0.4" data-image="background">
            <div class="container headerSection">
                <div class="intro-text">
                    <div class="intro-heading">About Us</div>
                    <div class="headerArrowContainer">
                        <a class="smooth-scroll" data-ease="easeInOutQuad" data-history="true" href="#about">
                            <i style="color:gray;" class="fa fa-angle-down headerDownArrow"></i>
                        </a>
                    </div>
                </div>
            </div>
        </header>

        <% include ../partials/sideToolbar %>

        <!-- About Section -->
        <section id="about" class="bg-light-gray">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 class="section-heading">About</h2>
                        <h3 class="section-subheading text-muted"></h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <p style="line-height: 2.5;">Stony Brook Building 
                            Science, LLC. is headquartered in the LI High 
                            Technology Incubator at Stony Brook and specializes 
                            in advanced energy modeling and the development of 
                            solutions that optimize the energy efficiency of 
                            commercial and residential buildings. SBBS uniquely 
                            combines the disciplines of Energy Modeling, 
                            Mechanical Systems Design and Building Automation. 
                            Efficiency measures are modeled,  designed, and 
                            optimally controlled.
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <!-- Team -->
        <!-- Will -->
        <section id="team" class="text-center bg-white">
            <div class="row mar-bot40">
                <div class="col-lg-12 text-center">
                    <div class="section-header">
                        <h2 class="section-heading">Our Team</h2>
                        <p></p>
                    </div>
                </div>
            </div>

            <div style="padding-top:15px; padding-bottom: 15px;">
                <div class="container variableCenter">
                    <div class="row">
                        <div class="col-md-8">
                            <h4>Will Becchina</h4>
                            <i>President</i>
                            <br><br>
                            <p style="line-height:2.5;">Founder and President Will 
                                Becchina has extensive experience in HVAC, 
                                green building technologies, Building Information 
                                Modeling (BIM), and cost/benefit analysis 
                                of renewable energy alternatives.  He teaches 
                                a graduate-level course in building energy 
                                management at Stony Brook University and 
                                leads a dedicated team of experts.
                            </p>
                        </div>
                        <div class="col-md-4">
                            <img class="member-photo" src="/img/team/will.png" class="img-responsive" alt="">
                        </div>
                    </div><!--/row-->
                </div><!--/container-->
            </div>
            <!-- Will -->

            <!-- Jessica -->
            <div  style="padding-top:15px; padding-bottom: 15px;">
                <div class="container variableCenter">
                    <div class="row">
                        <div class="col-md-4">
                            <img class="member-photo" src="/img/team/Jess.jpg" class="img-responsive" alt="">
                        </div>
                        <div class="col-md-8">
                            <h4>Jessica Jolley</h4>
                            <i>Mechanical Engineer</i>
                            <br><br>
                            <p style="line-height:2.5;">Jessica is a mechanical 
                                engineering graduate student at Stony Brook 
                                University, where she also completed her 
                                Bachelor's. Her studies focus on energy 
                                technology and bio-mechanics.
                            </p>
                        </div>
                    </div><!--/row-->
                </div><!--/container-->
            </div>
            <!-- Jessica -->

            <!-- Daniel -->
            <div  style="padding-top:15px; padding-bottom: 15px;">
                <div class="container variableCenter">
                    <div class="row">
                        <div class="col-md-8">
                            <h4>Daniel Keefe</h4>
                            <i>Programmer</i>
                            <br><br>
                            <p style="line-height:2.5;">Daniel will be 
                                graduating in May, 2017 with his B.S. in 
                                Computer Science and Applied Mathematics. 
                                Through his studies at Stony Brook University, 
                                he has gained expertise in several programming 
                                languages and worked extensively with video 
                                manipulation software.
                            </p>
                        </div>
                        <div class="col-md-4">
                            <img class="member-photo" src="/img/team/daniel.jpg" class="img-responsive" alt="">
                        </div>
                    </div><!--/row-->
                </div><!--/container-->
            </div>
            <!-- Danny -->
            
        <!-- Dylan -->
            <div style="padding-top:15px; padding-bottom: 15px;">
                <div class="container variableCenter">
                    <div class="row">
                        <div class="col-md-4">
                            <img class="member-photo" src="/img/team/dylan.jpg" class="img-responsive" alt="">
                        </div>
                        <div class="col-md-8">
                            <h4>Dylan Kann</h4>
                            <i>Website Consultant</i>
                            <br><br>
                            <p style="line-height:2.5;">Dylan is a Marketing 
                                Specialist in Stony Brook's MBA Program, 
                                graduating in May, 2017. Having earned his B.A. 
                                in English, he tutors part time in addition to 
                                performing marketing work for SBBS.
                            </p>
                        </div>
                    </div><!--/row-->
                </div><!--/container-->
            </div>
            <!-- Dylan -->
            
        </section>
        <!-- Team -->

        <!-- Column Format
        <section id="meet-team" class="bg-mid-gray">
            <div class="container">
                <div class="section-header mar-bot40">
                    <h2 class="section-heading text-center wow" style='color:white;'>Meet The Team</h2>
                </div>

                <div class="col-sm-6 col-md-4 mar-bot40">
                    <div class="teem-member wow" data-wow-duration="400ms" data-wow-delay="0ms">
                        <div class="team-img">
                            <img class="img-responsive" src="/img/team/member1.jpg" alt="">
                        </div>
                        <div class="team-info">
                            <h3>Will Becchina</h3>
                            <span>President</span>
                        </div>
                        <p>Founder and President Will Becchina has extensive 
                            experience in HVAC, green building technologies, 
                            Building Information Modeling (BIM), and cost/benefit 
                            analysis of renewable energy alternatives.  He teaches 
                            a graduate-level course in building energy management 
                            at Stony Brook University and leads a dedicated team 
                            of experts.</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 mar-bot40">
                    <div class="teem-member wow fadeInUp" data-wow-duration="400ms" data-wow-delay="100ms">
                        <div class="team-img">
                            <img class="member-photo img-responsive" src="/img/team/member1.jpg" alt="">
                        </div>
                        <div class="team-info">
                            <h3>Jessica Jolley</h3>
                            <span>Role</span>
                        </div>
                        <p>Founder and President Will Becchina has extensive 
                            experience in HVAC, green building technologies, 
                            Building Information Modeling (BIM), and cost/benefit 
                            analysis of renewable energy alternatives.  He teaches 
                            a graduate-level course in building energy management 
                            at Stony Brook University and leads a dedicated team 
                            of experts.</p>
                    </div>
                </div>

                    <div class="col-sm-6 col-md-4 mar-bot40">
                        <div class="teem-member wow fadeInUp" data-wow-duration="400ms" data-wow-delay="200ms">
                            <div class="team-img">
                                <img class="img-responsive" src="/img/team/member1.jpg" alt="">
                            </div>
                            <div class="team-info">
                                <h3>Jacqueline McGlynn</h3>
                                <span>Role</span>
                            </div>
                            <p>Founder and President Will Becchina has extensive 
                                experience in HVAC, green building technologies, 
                                Building Information Modeling (BIM), and cost/benefit 
                                analysis of renewable energy alternatives.  He teaches 
                                a graduate-level course in building energy management 
                                at Stony Brook University and leads a dedicated team 
                                of experts.</p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 mar-bot40">
                        <div class="teem-member wow fadeInUp" data-wow-duration="400ms" data-wow-delay="300ms">
                            <div class="team-img">
                                <img class="img-responsive" src="/img/team/member1.jpg" alt="">
                            </div>
                            <div class="team-info">
                                <h3>Siqi Zuo</h3>
                                <span>Role</span>
                            </div>
                            <p>Founder and President Will Becchina has extensive 
                                experience in HVAC, green building technologies, 
                                Building Information Modeling (BIM), and cost/benefit 
                                analysis of renewable energy alternatives.  He teaches 
                                a graduate-level course in building energy management 
                                at Stony Brook University and leads a dedicated team 
                                of experts.</p>
                        </div>
                    </div>
                
                    <div class="col-sm-6 col-md-4 mar-bot40">
                        <div class="teem-member wow fadeInUp" data-wow-duration="400ms" data-wow-delay="300ms">
                            <div class="team-img">
                                <img class="img-responsive" src="/img/team/member1.jpg" alt="">
                            </div>
                            <div class="team-info">
                                <h3>Michael Francis</h3>
                                <span>Role</span>
                            </div>
                            <p>Founder and President Will Becchina has extensive 
                                experience in HVAC, green building technologies, 
                                Building Information Modeling (BIM), and cost/benefit 
                                analysis of renewable energy alternatives.  He teaches 
                                a graduate-level course in building energy management 
                                at Stony Brook University and leads a dedicated team 
                                of experts.</p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 mar-bot40">
                        <div class="teem-member wow fadeInUp" data-wow-duration="400ms" data-wow-delay="300ms">
                            <div class="team-img">
                                <img class="img-responsive" src="/img/team/member1.jpg" alt="">
                            </div>
                            <div class="team-info">
                                <h3>Daniel Keefe</h3>
                                <span>Role</span>
                            </div>
                            <p>Founder and President Will Becchina has extensive 
                                experience in HVAC, green building technologies, 
                                Building Information Modeling (BIM), and cost/benefit 
                                analysis of renewable energy alternatives.  He teaches 
                                a graduate-level course in building energy management 
                                at Stony Brook University and leads a dedicated team 
                                of experts.</p>
                        </div>
                    </div>
            </div>
        </section>
        -->
        
        <!-- 1 2 3 Format
        <section id="team">
            <div class="container">
                <div class="row mar-bot40">
                    <div class="col-lg-12 text-center">
                        <div class="section-header">
                            <h2 class="section-heading">Our Team</h2>
                            <p></p>
                        </div>
                    </div>
                </div>

                <div class="row text-center mar-bot40">
                    <div class="col-xs-12">
                        <div class="team-member">
                            <figure class="member-photo"><img src="/img/team/will.png" alt="" /></figure>
                            <div class="team-detail">
                                <h4>Will Becchina</h4>
                                <i>
                                    President
                                </i>
                                <br><br>
                                <p>
                                    Founder and President Will Becchina has 
                                    extensive experience in HVAC, green building 
                                    technologies, Building Information 
                                    Modeling (BIM), and cost/benefit analysis 
                                    of renewable energy alternatives.  He teaches 
                                    a graduate-level course in building energy 
                                    management at Stony Brook University and 
                                    leads a dedicated team of experts.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <div class="team-member">
                            <figure class="member-photo"><img src="/img/team/member1.jpg" alt="" /></figure>
                            <div class="team-detail">
                                <h4>Jacqueline McGlynn</h4>
                                <span>Insert role</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <div class="team-member">
                            <figure class="member-photo"><img src="/img/team/member1.jpg" alt="" /></figure>
                            <div class="team-detail">
                                <h4>Jessica Jolley</h4>
                                <span>Insert role</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <div class="team-member">
                            <figure class="member-photo"><img src="/img/team/member1.jpg" alt="" /></figure>
                            <div class="team-detail">
                                <h4>Siqi Zuo</h4>
                                <span>Insert role</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <div class="team-member">
                            <figure class="member-photo"><img src="/img/team/member1.jpg" alt="" /></figure>
                            <div class="team-detail">
                                <h4>Michael Francis</h4>
                                <span>Insert role</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <div class="team-member">
                            <figure class="member-photo"><img src="/img/team/member1.jpg" alt="" /></figure>
                            <div class="team-detail">
                                <h4>Daniel Keefe</h4>
                                <span>Insert role</span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>
        -->
        <!-- Team -->

        <section class="bg-light-gray align-center" id="map">
            <div id="google-map" class="bg-light-gray wow fadeIn" data-latitude="40.9123180" data-longitude="-73.1139380" data-wow-duration="1000ms" data-wow-delay="400ms"></div>
        </section>
        
        <% include ../partials/footer %>
    </body>

</html>