<!DOCTYPE html>
<html>

    <% include ../partials/topCSS %>

    <body id="page-top" class="index">

        <!-- Navigation -->
        <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header page-scroll">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                    </button>
                    <a class="navbar-brand" href="/">SBBS</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="hidden">
                            <a href="#page-top"></a>
                        </li>
                        <li>
                            <p class="smooth-scroll pageName" data-ease="easeInOutQuad" data-history="true">Controls & Automation:</p>
                        </li>
                        <li>
                            <a class="smooth-scroll" data-ease="easeInOutQuad" data-history="true" href ="#main-slider">Images</a>
                        </li>
                        <li>
                            <a class="smooth-scroll" data-ease="easeInOutQuad" data-history="true" href ="#about">About</a>
                        </li>
                        <li>
                            <a class="smooth-scroll" data-ease="easeInOutQuad" data-history="true" href ="#focus">Focus Points</a>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>

        <!-- Header -->
        <header style="background-image: url(/static/img/headerImages/board.jpg)">
            <div class="container">
                <div class="intro-text">
                    <div class="intro-heading">Controls & Automation</div>
                    <div class="intro-lead-in">Modeling buildings for a more sustainable future. </div>
                    <div style="padding-top:90px;">
                        <a class="smooth-scroll" data-ease="easeInOutQuad" data-history="true" href="#about">
                            <i class="fa fa-angle-down headerDownArrow"></i>
                        </a>
                    </div>
                </div>
            </div>
        </header>

        <% include ../partials/sideToolbar %>
        
        <!-- Slideshow -->
        <% include ../partials/slideshow %>
        
        <!-- About Section -->
        <section id="about">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 class="section-heading">Controls & Automation</h2>
                        <h3 class="section-subheading text-muted"></h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <p style="line-height: 2.5;">Stony Brook Building Science provides documentation for each project in
                        integration of all the controls and deliverables</p>
                    </div>
                </div>
            </div>
        </section>        

         <!-- Services -->
            <section id="focus" class="text-center bg-light-gray">
                <div class="container" style="text-align:center; width:100%;">
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <h2 class="section-heading">Focus Points</h2>
                            <h3 class="section-subheading">We offer expertise in maintaining, 
                            programming, and troubleshooting building control systems.</h3>
                        </div>
                    </div>
                    <div class="row text-center serviceRow">
                            <div class="col-md-4 serviceColumn leftServiceColumn">
                                <span class="fa-stack fa-4x">
                                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                                    <i class="fa fa-area-chart fa-stack-1x fa-inverse"></i>
                                </span>
                                <h4 class="service-heading">Design</h4>
                                <p style="height:96px" class="text-muted">SBBS works on designing controls
                                systems in order to optimize building efficiency and create a user-friendly
                                interface for systems management, advanced data analytics, and visualization
                                tools.</p>
                            </div>
                            <div class="col-md-4 serviceColumn borderColumn">
                                <span class="fa-stack fa-4x">
                                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                                    <i class="fa fa-code fa-stack-1x fa-inverse"></i>
                                </span>
    
                                <h4 class="service-heading">Programming</h4>
                                <p style="height:96px" class="text-muted">Our team of programmers develop
                                the best and most efficient BAS controls for your building systems.</p>
                            </div>
                            <div class="col-md-4 serviceColumn borderColumn">
                                <span class="fa-stack fa-4x">
                                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                                    <i class="fa fa-puzzle-piece fa-stack-1x fa-inverse"></i>
                                </span>
                                <h4 class="service-heading">Integration</h4>
                                <p style="height:96px" class="text-muted">Whether you're integrating controls 
                                    into your building systems or updating your current controls system, SBBS 
                                    uses open communication standards and interfaces so the user can integrate 
                                    a varied choice of different building control disciplines such as heating, 
                                    ventilation, air conditioning applications, lights and blinds, safety 
                                    features, and equipment.
                                </p>
                            </div>
                    </div>
                </div>
            </section>
            <!-- End Services --> 
        
        <% include ../partials/footer %>
    </body>

</html>