<!DOCTYPE html>
<html>
    <% include ../partials/topCSS %>

    <body id="page-top" class="index">

        <!-- Navigation -->
        <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
            <div>
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header page-scroll">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                    </button>
                    <a class="navbar-brand" href="/">SBBS</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="navbarButtons collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right listFont">
                        <li class="hidden">
                            <a href="#page-top"></a>
                        </li>
                        <li>
                            <p class="pageName smooth-scroll" data-ease="easeInOutQuad" data-history="true">Energy Modeling:</p>
                        </li>
                        <li>
                            <a class="smooth-scroll" data-ease="easeInOutQuad" data-history="true" href ="#main-slider">Slideshow</a>
                        </li>
                        <li>
                            <a class="smooth-scroll" data-ease="easeInOutQuad" data-history="true" href ="#about">About</a>
                         </li>
                        <li>
                            <a class="smooth-scroll" data-ease="easeInOutQuad" data-history="true" href ="#geothermal">Geothermal</a>
                        </li>
                        <li>
                            <a class="smooth-scroll" data-ease="easeInOutQuad" data-history="true" href ="#plant">Plant Optimization</a>
                        </li>
                        <li>
                            <a class="smooth-scroll" data-ease="easeInOutQuad" data-history="true" href="#netZero">Net Zero</a>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>

        <!-- Header -->
        <header id="energyHeader" class="parallax" data-factor="-0.4" data-image="background">
            <div class="container headerSection">
                <div class="intro-text">
                    <div class="intro-heading">Energy Modeling</div>
                    <div class="intro-lead-in">Control system and energy modeling to optimize building performance</div>
                    <div class="headerArrowContainer">
                        <a class="smooth-scroll" data-ease="easeInOutQuad" data-history="true" href="#main-slider">
                            <i class="fa fa-angle-down headerDownArrow"></i>
                        </a>
                    </div>
                </div>
            </div>
        </header>
        
        <% include ../partials/sideToolbar %>
        
        <!-- Slideshow -->
        <% include ../partials/slideshow %>
        
        <!-- About -->
        <section id="about" class="bg-white">
            <div class="container variableCenter">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 class="section-heading">Energy Modeling</h2>
                        <h3 class="section-subheading text-muted"></h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <p style="line-height: 2.5;">SBBS provides in-depth 
                            building energy optimization for new construction 
                            as well as  existing commercial and residential 
                            buildings.  We work with Architects early in the 
                            design process to evaluate a structure’s energy 
                            profile and make recommendations as to geometry, 
                            orientation, glazing, and potential for renewables, 
                            all of which greatly impact the structure’s energy 
                            consumption. Analysis is performed using annual 
                            weather data to build a realistic projection of 
                            energy consumption and carbon production. 
                        </p>
                    </div>
                </div>
                <br>
            </div>
        </section>
       
        <!-- Geothermal Innovations -->
        <div id="geothermal" class="bg-light-gray" style="padding-top:15px; padding-bottom: 15px;">
            <div class="container variableCenter">
                <div class="row">
                    <div class="col-md-6">
                        <h2>Geothermal Design</h2>
                        <h3></h3>
                        <p style="line-height:2.5;">Geothermal systems <u>move</u> heat 
                            energy to and from the earth’s energy reservoir rather 
                            than simply using direct primary source energy for 
                            heating and cooling. This results in the remarkable 
                            fact that typically for a <u>single</u> unit of energy 
                            expended, <u>4 to 5</u> units of energy are made available 
                            for building heating and cooling requirements using 
                            Geothermal. SBBS models the performance of Geothermal 
                            systems to predict energy savings and estimate return 
                            on investment.
                        </p>
                    </div>
                    <div class="col-md-6">
                        <a href="/img/energy/geo.bmp" target="_blank">
                            <img src="/img/energy/geo.bmp" class="img-responsive" alt="">
                        </a>
                    </div>
                </div><!--/row-->
            </div><!--/container-->
        </div>
        
        <!-- Plant Optimization -->
        <div id="plant" style="padding-top:15px; padding-bottom: 15px;">
            <div class="container variableCenter">
                <div class="row">
                    <div class="col-md-6">
                        <a href="/img/energy/plantChiller.jpg" target="_blank">
                           <img src="/img/energy/plantChiller.jpg" class="img-responsive" alt=""> 
                        </a>
                    </div>
                    <div class="col-md-6">
                        <h2>Plant Optimization</h2>
                        <h3></h3>
                        <p style="line-height:2.5;">SBBS designs efficient, 
                            optimized control systems for commercial building 
                            central plant equipment. Chiller supply temperature 
                            modulation and cooling tower fan speed control can 
                            be modeled in software and the resulting ROI evaluated.
                        </p>
                    </div>
                </div><!--/row-->
                <div class='row' style='padding-top:20px; padding-bottom:20px;'>
                    <div class='col-md-6'>
                        <a href="/img/energy/matlab.jpg" target="_blank">
                            <img src='/img/energy/matlab.jpg' class='img-responsive' alt=''>
                        </a>
                    </div>
                    <div class="col-md-6">
                        <p style="line-height:2.5;">Shown here is a Matlab program used to analyze energy 
                            losses before and after spa retrofit.
                        </p>
                    </div>
                </div>
            </div><!--/container-->
        </div>
        
        <!-- Net Zero -->
        <div id="netZero" class="bg-light-gray" style="padding-top:15px; padding-bottom: 50px;">
            <div class="container variableCenter">
                <div class="row">
                    <div class="col-md-6">
                        <h2>Net Zero Ready</h2>
                        <h3></h3>
                        <p style="line-height:2.5;">Our goal is to create the most efficient building models and systems that 
                            can sustain themselves. By building net zero energy models, we hope to help others 
                            decrease their carbon footprint and reduce utility costs as much as possible. 
                        </p>
                    </div>
                    <div class="col-md-6">
                        <a href="/img/energy/netZero.png" target="_blank">
                            <img src="/img/energy/netZero.png" class="img-responsive" alt="">
                        </a>
                    </div>
                </div><!--/row-->
            </div><!--/container-->
        </div>

        <% include ../partials/footer %>
    </body>
</html>