<!DOCTYPE html>
<html>
    <% include ../partials/topCSS %>

    <body id="page-top" class="index">

        <!-- Navigation -->
        <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
            <div>
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header page-scroll">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                    </button>
                    <a class="navbar-brand" href="/">SBBS</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="navbarButtons collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right listFont">
                        <li class="hidden">
                            <a href="#page-top"></a>
                        </li>
                        <li>
                            <p class="pageName smooth-scroll" data-ease="easeInOutQuad" data-history="true">Energy Modeling:</p>
                        </li>
                        <li>
                            <a class="smooth-scroll" data-ease="easeInOutQuad" data-history="true" href ="#main-slider">Slideshow</a>
                        </li>
                        <li>
                            <a class="smooth-scroll" data-ease="easeInOutQuad" data-history="true" href ="#about">About</a>
                         </li>
                        <li>
                            <a class="smooth-scroll" data-ease="easeInOutQuad" data-history="true" href ="#geothermal">Geothermal</a>
                        </li>
                        <li>
                            <a class="smooth-scroll" data-ease="easeInOutQuad" data-history="true" href ="#plant">Plant Optimization</a>
                        </li>
                        <li>
                            <a class="smooth-scroll" data-ease="easeInOutQuad" data-history="true" href="#netZero">Net Zero</a>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>

        <!-- Header -->
        <header style="background-image: url(/static/img/headerImages/lightBulbs.jpg)">
            <div class="container">
                <div class="intro-text">
                    <div class="intro-heading">Energy Modeling Systems</div>
                    <div class="intro-lead-in">Modeling buildings for a more sustainable future. </div>
                    <div class="headerArrowContainer">
                        <a class="smooth-scroll" data-ease="easeInOutQuad" data-history="true" href="#main-slider">
                            <i class="fa fa-angle-down headerDownArrow"></i>
                        </a>
                    </div>
                </div>
            </div>
        </header>
        
        <% include ../partials/sideToolbar %>
        
        <!-- Slideshow -->
        <% include ../partials/slideshow %>
        
        <!-- About -->
        <section id="about">
            <div class="container variableCenter">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 class="section-heading">Energy Modeling</h2>
                        <h3 class="section-subheading text-muted"></h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <p style="line-height: 2.5;">SBBS provides in-depth 
                            building energy optimization for new construction 
                            as well as  existing commercial and residential 
                            buildings.  We work with Architects early in the 
                            design process to evaluate a structure’s energy 
                            profile and make recommendations as to geometry, 
                            orientation, glazing, and potential for renewables, 
                            all of which greatly impact the structure’s energy 
                            consumption. Analysis is performed using annual 
                            weather data to build a realistic projection of 
                            energy consumption and carbon production. 
                        </p>
                    </div>
                </div>
                <br>
            </div>
        </section>
       
        <!-- Geothermal Innovations -->
        <div id="geothermal" class="bg-light-gray" style="padding-top:15px; padding-bottom: 15px;">
            <div class="container variableCenter">
                <div class="row">
                    <div class="col-md-6">
                        <h2>Geothermal Innovations</h2>
                        <h3></h3>
                        <p style="line-height:2.5;">Stony Brook Building Science specializes in geothermal energy. 
                            Geothermal systems use less oil, coal and gas and decrease the emission of greenhouse gasses. Geothermal 
                            energy is becoming more prevalent due to their eco-friendly ability to lower energy costs.
                        </p>
                    </div>
                    <div class="col-md-6">
                        <a href="/static/img/energy/plantChiller.jpg" target="_blank">
                            <img src="/static/img/energy/plantChiller.jpg" class="img-responsive" alt="">
                        </a>
                    </div>
                </div><!--/row-->
            </div><!--/container-->
        </div>
        
        <!-- Plant Optimization -->
        <div id="plant" style="padding-top:15px; padding-bottom: 15px;">
            <div class="container variableCenter">
                <div class="row">
                    <div class="col-md-6">
                        <a href="/static/img/energy/plantChiller.jpg" target="_blank">
                           <img src="/static/img/energy/plantChiller.jpg" class="img-responsive" alt=""> 
                        </a>
                    </div>
                    <div class="col-md-6">
                        <h2>Plant Optimization</h2>
                        <h3></h3>
                        <p style="line-height:2.5;">SBBS uses controls to provide efficient operational management 
                                    for any residence or commercial building. By closely monitoring MEP systems, evaluating the 
                                    processes in place and taking the essential steps to assure that the plant has the equipment
                                    that best uses its raw materials, and that this equipment is being used in the most efficient manner.
                                    Chilled and hot water temperature modulation and cooling tower speed control can be modeled and 
                                    ROI evaluated. 
                        </p>
                    </div>
                </div><!--/row-->
                <div class='row' style='padding-top:20px; padding-bottom:20px;'>
                    <div class='col-md-6'>
                        <a href="/static/img/energy/matlab.jpg" target="_blank">
                            <img src='/static/img/energy/matlab.jpg' class='img-responsive' alt=''>
                        </a>
                    </div>
                    <div class="col-md-6">
                        <p style="line-height:2.5;">Shown here is a Matlab program used to analyze energy 
                            losses before and after spa retrofit.
                        </p>
                    </div>
                </div>
            </div><!--/container-->
        </div>
        
        <!-- Net Zero -->
        <div id="netZero" class="bg-light-gray" style="padding-top:15px; padding-bottom: 50px;">
            <div class="container variableCenter">
                <div class="row">
                    <div class="col-md-6">
                        <h2>Net Zero Ready</h2>
                        <h3></h3>
                        <p style="line-height:2.5;">Our goal is to create the most efficient building models and systems that 
                            can sustain themselves. By building net zero energy models, we hope to help others 
                            decrease their carbon footprint and reduce utility costs as much as possible. 
                        </p>
                    </div>
                    <div class="col-md-6">
                        <a href="/static/img/netZero.jpg" target="_blank">
                            <img src="/static/img/netZero.jpg" class="img-responsive" alt="">
                        </a>
                    </div>
                </div><!--/row-->
            </div><!--/container-->
        </div>

        <% include ../partials/footer %>
    </body>
</html>