<!DOCTYPE html>
<html>
    <% include ../partials/topCSS %>

    <body id="page-top" class="index">

        <!-- Navigation -->
        <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header page-scroll">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                    </button>
                    <a class="navbar-brand smooth-scroll" data-ease="easeInOutQuad" data-history="true" href="#page-top">SBBS</span></a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="hidden">
                            <a href="#page-top"></a>
                        </li>
                        <li>
                            <a class="smooth-scroll" data-ease="easeInOutQuad" data-history="true" href="#main-slider">Energy Modeling</a>
                        </li>
                        <li>
                            <a class="smooth-scroll" data-ease="easeInOutQuad" data-history="true" href="#main-slider">Mech. Systems</a>
                        </li>
                        <li>
                            <a class="smooth-scroll" data-ease="easeInOutQuad" data-history="true" href="#main-slider">Automation & Controls</a>
                        </li>
                        <li>
                            <a class="smooth-scroll" data-ease="easeInOutQuad" data-history="true" href="#main-slider">Renewable Power</a>
                        </li>
                        <li>
                            <a class="smooth-scroll" data-ease="easeInOutQuad" data-history="true" href ="#about">About Us</a>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>

        <!-- Header -->
        <header>
            <div class="container">
                <div class="intro-text" style="padding-top:200px;">
                    <div class="intro-heading">Stony Brook Building Science</div>
                    <div class="intro-lead-in">Modeling buildings for a more sustainable future. </div>
                    <div style="padding-top:90px;">
                        <a class="smooth-scroll" data-ease="easeInOutQuad" data-history="true" href="#main-slider">
                            <i class="fa fa-angle-double-down headerDownArrow"></i>
                        </a>
                    </div>
                </div>
            </div>
        </header>

        <% include ../partials/sideToolbar %>

        <!-- Slideshow -->
        <section id="main-slider" class="bg-light-gray" style="padding-top:0; padding-bottom:0;">
            <div class="container" style="width:100%"> <!--Container-->
                <div class="row">  <!--Row-->
                    <div class="owl-carousel">

                        <!-- Energy Modeling -->
                        <div class="item" style="background-color: #666666;">
                            <div class="slider-inner">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-6" style="vertical-align:middle;">
                                            <div class="carousel-content slide1">
                                                <h2 style="font-size:40px; color:white;">Energy Modeling at SBBS</h2>
                                                <p style ="color:white;" class="mt">Stony Brook Building Science works on building 3D Models.</p><br>
                                                <a class="btn btn-md" href="/energyModeling">Learn More</a>
                                            </div>
                                        </div>
                                        <div class="col-md-6" style="margin:auto;">
                                            <div class="carousel-content">
                                                <img class="ssimg" data-u="image" src="/static/img/energy/03.jpg" class="img-responsive mt" alt="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Energy Modeling -->

                        <!-- Mechanical Systems -->
                        <div class="item" style="background-color: #666666;"> 
                            <div class="slider-inner">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="carousel-content slide2">
                                                <h2 style = "color:white;font-size:40px">Mechanical Systems</h2>
                                                <p class="mt" style = "color:white">Stony Brook Building Science works on planning out mechanical systems.</p><br>
                                                <a class="btn btn-md" style="text-align:center;" href="/mechSystems">Learn More</a>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="carousel-content">
                                                <img class="ssimg" data-u="image" src="/static/img/mechSystems/01.jpg" class="img-responsive mt" alt="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Mechanical Systems -->

                        <!-- Controls -->
                        <div class="item" style="background-color: #666666;"> 
                            <div class="slider-inner">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="carousel-content slide3">
                                                <h2 style="color:white; font-size:40px">Automation & Controls</h2>
                                                <p class="mt" style='color:white;'>Stony Brook Building Science specializes in Controls Design, Integration and Programming. 
                                                    We provide controls documentation for each project in integration of all the controls 
                                                    and deliverables.</p><br>
                                                <a class="btn btn-md" style="text-align:center;" href="/controls">Learn More</a>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="carousel-content">
                                                <img class="ssimg" data-u='image' src="/static/img/cpu.jpg" class="img-responsive mt" alt="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Controls -->

                        <!-- Power -->
                        <div class="item" style="background-color: #666666;"> 
                            <div class="slider-inner">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="carousel-content slide4">
                                                <h2 style = "color:white;font-size:40px">Renewable Power Generation</h2>
                                                <p class="mt" style = "color:white">Stony Brook Building Science is working on developing tools that will be able to re-use
                                                    power in an efficient and eco-friendly manner.</p><br>
                                                <a class="btn btn-md" style="text-align:center;" href="/renewablePower">Learn More</a>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="carousel-content">
                                                <img class="ssimg" data-u='image' src="/static/img/solar.png" class="img-responsive mt" alt="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!--/.item-->
                        <!-- Power -->
                    </div><!--/.owl-carousel-->
                </div> <!--Row-->
            </div> <!-- Container -->
        </section><!--/#main-slider-->     

        <!-- Services 
            <section id="services" class="text-center">
                <div class="container" style="text-align:center;">
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <h2 class="section-heading">Services</h2>
                            <h3 class="section-subheading text-muted"></h3>
                        </div>
                    </div>
                    <div class="row text-center serviceRow">
                        <a href="/energyModeling">
                            <div class="col-md-3 serviceColumn leftServiceColumn">
                                <span class="fa-stack fa-4x">
                                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                                    <i class="fa fa-plug fa-stack-1x fa-inverse"></i>
                                </span>
                                <h4 class="service-heading">Energy Modeling</h4>
                                <p style="height:96px" class="text-muted">Stony Brook Building Science works on building 3D Models.</p>
                            </div>
                        </a>
    
                        <a href ="/mechSystems">
                            <div class="col-md-3 serviceColumn borderColumn">
                                <span class="fa-stack fa-4x">
                                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                                    <i class="fa fa-cubes fa-stack-1x fa-inverse"></i>
                                </span>
    
                                <h4 class="service-heading">Mechanical Systems</h4>
                                <p style="height:96px" class="text-muted">Stony Brook Building Science works on planning out mechanical systems.</p>
                            </div>
                        </a>
    
                        <a href="/controls">
                            <div class="col-md-3 serviceColumn borderColumn">
    
                                <span class="fa-stack fa-4x">
                                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                                    <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                                </span>
                                <h4 class="service-heading">Automation & Controls</h4>
                                <p class="text-muted">SBBS specializes in Controls Design, Integration and Programming. 
                                    We provide controls documentation for each project in integration of all the controls 
                                    and deliverables.</p>
                            </div>
                        </a>
    
                        <a href="/renewablePower">
                            <div class="col-md-3 serviceColumn borderColumn rightServiceColumn">
                                <span class="fa-stack fa-4x">
                                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                                    <i class="fa fa-recycle fa-stack-1x fa-inverse"></i>
                                </span>
                                <h4 class="service-heading">Renewable Power Generation</h4>
                                <p class="text-muted">SBBS is working on developing tools that will be able to re-use
                                    power in an efficient and eco-friendly manner.</p>
                            </div>
                        </a>
    
                    </div>
                </div>
            </section>
            End Services -->

        <!-- About Section -->
        <section id="about" class="bg-light-gray">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 class="section-heading">About</h2>
                        <h3 class="section-subheading text-muted"></h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <p style="line-height: 2.5;">Stony Brook Building Science, LLC. is headquartered 
                            in the LI High Technology Incubator and specializes in advanced energy
                            modeling and the development of solutions that optimize the energy efficiency of 
                            commercial and residential buildings. SBBS uniquely combines the disciplines of 
                            Energy Modeling, Mechanical Systems design and Building Automation. Efficiency measures
                            are modeled, designed, and optimally controlled.
                        </p>
                    </div>
                </div>
            </div>
        </section>  

        <% include ../partials/clients %>

        <!--Google Maps section with overlay-->
        <!--<div style="height: 500px; position: relative;">
            <div id="map" style="height: 500px;">
            </div>
            <div id="map-overlay"></div>
            <div class="row" style="position: absolute;">
                <div class="col-lg-12">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
                </div>
            </div>
        </div>-->

        <a id="scrollUpButton" class="scrollToTop smooth-scroll" data-ease="easeInQuad" data-history="true" href="#page-top" style="display: none;">
            <i class="fa fa-angle-up"></i>
        </a>

        <% include ../partials/footer %>
        <% include ../partials/bottomScripts %>

        <script>
            $(document).ready(function () {

                var time = 7; // time in seconds

                var $progressBar,
                        $bar,
                        $elem,
                        isPause,
                        tick,
                        percentTime;

                //Init the carousel
                $("#main-slider").find('.owl-carousel').owlCarousel({
                    slideSpeed: 500,
                    paginationSpeed: 500,
                    singleItem: true,
                    navigation: true,
                    navigationText: [
                        "<i class='fa fa-angle-left'></i>",
                        "<i class='fa fa-angle-right'></i>"
                    ],
                    afterInit: progressBar,
                    afterMove: moved,
                    startDragging: pauseOnDragging,
                    //autoHeight : true,
                    transitionStyle: "fadeUp"
                });

                //Init progressBar where elem is $("#owl-demo")
                function progressBar(elem) {
                    $elem = elem;
                    //build progress bar elements
                    buildProgressBar();
                    //start counting
                    start();
                }

                //create div#progressBar and div#bar then append to $(".owl-carousel")
                function buildProgressBar() {
                    $progressBar = $("<div>", {
                        id: "progressBar"
                    });
                    $bar = $("<div>", {
                        id: "bar"
                    });
                    $progressBar.append($bar).appendTo($elem);
                }

                function start() {
                    //reset timer
                    percentTime = 0;
                    isPause = false;
                    //run interval every 0.01 second
                    tick = setInterval(interval, 10);
                }
                ;

                function interval() {
                    if (isPause === false) {
                        percentTime += 1 / time;
                        $bar.css({
                            width: percentTime + "%"
                        });
                        //if percentTime is equal or greater than 100
                        if (percentTime >= 100) {
                            //slide to next item 
                            $elem.trigger('owl.next')
                        }
                    }
                }

                //pause while dragging 
                function pauseOnDragging() {
                    isPause = true;
                }

                //moved callback
                function moved() {
                    //clear interval
                    clearTimeout(tick);
                    //start again
                    start();
                }
            });
        </script>

        <!--<% include ../partials/readySlideshow %>-->


    </body>

</html>