<!DOCTYPE html>
<html>
    <% include ../partials/topCSS %>

    <body id="page-top" class="index">

        <!-- Navigation -->
        <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header page-scroll">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                    </button>
                    <a class="navbar-brand smooth-scroll" data-ease="easeInOutQuad" data-history="true" href="#page-top">SBBS</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="hidden">
                            <a href="#page-top"></a>
                        </li>
                        <li>
                            <a class="smooth-scroll" data-ease="easeInOutQuad" data-history="true" href ="#about">About Us</a>
                        </li>
                        <li>
                            <a class="smooth-scroll" data-ease="easeInOutQuad" data-history="true" href ="#services">Services</a>
                        </li>
                        <li>
                            <a class="smooth-scroll" data-ease="easeInOutQuad" data-history="true" href="#energy">Energy Modeling</a>
                        </li>
                        <li>
                            <a class="smooth-scroll" data-ease="easeInOutQuad" data-history="true" href="#mech">Mech. Systems</a>
                        </li>
                        <li>
                            <a class="smooth-scroll" data-ease="easeInOutQuad" data-history="true" href="#auto">Automation & Controls</a>
                        </li>
                        <li>
                            <a class="smooth-scroll" data-ease="easeInOutQuad" data-history="true" href="#power">Renewable Power</a>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>

        <!-- Header -->
        <header>
            <div class="container">
                <div class="intro-text">
                    <div class="intro-heading">Stony Brook Building Science</div>
                    <div class="intro-lead-in">Modeling buildings for a more sustainable future. </div>
                    <a class="btn btn-xl smooth-scroll" data-ease="easeInOutQuad" data-history="true" href="#about">Tell Me More!</a>
                </div>
            </div>
        </header>
        
        <% include ../partials/sideToolbar %>

        <section id="slideshow" class="bg-light-gray">
            <div id="jssor_1" style="position: relative; margin: 0 auto; top: 0px; left: 0px; width: 800px; height: 456px; overflow: hidden; visibility: hidden; background-color: #24262e;">
                <!-- Loading Screen -->
                <div data-u="loading" style="position: absolute; top: 0px; left: 0px;">
                    <div style="filter: alpha(opacity=70); opacity: 0.7; position: absolute; display: block; top: 0px; left: 0px; width: 100%; height: 100%;"></div>
                    <div style="position:absolute;display:block;background:url('/static/img/slideshow/loading.gif') no-repeat center center;top:0px;left:0px;width:100%;height:100%;"></div>
                </div>
                <div data-u="slides" style="cursor: default; position: relative; top: 0px; left: 0px; width: 800px; height: 356px; overflow: hidden;">

                    <div data-p="144.50" style="display: none;">
                        <!-- Energy Modeling -->
                        <div id="energy" class="container ptb" style="width:100%">
                            <div class="row">
                                <div class="col-md-6" style="padding-right:30px">
                                    <h2 style="font-size:40px; color:white;">Energy Modeling at SBBS</h2>
                                    <p style ="color:white;" class="mt">Lorem Ipsum is simply dummy text of the printing and typesetting 
                                        industry. Lorem Ipsum has been the industry's standard dummy text ever since
                                        the 1500s, when an unknown printer took a galley of type and scrambled it to 
                                        make a type specimen book.</p><br>
                                    <a class="btn btn-md" href="/energyModeling">Learn More</a>
                                </div>
                                <div class="col-md-6" style="text-align:center;">
                                    <img data-u="image" style="margin:auto; width:100%;" src="/static/img/energy/03.jpg" class="img-responsive mt" style="margin: auto;" alt="">

                                </div>
                            </div><!--/row-->
                        </div><!--/container-->
                        <img data-u="thumb" src='/static/img/energy/thumb-03.jpg'/>
                    </div>

                    <div data-p='144.50' style='display:none;'>
                        <!-- Mechanical Systems -->
                        <div id = "mech">
                            <div class="row">
                                <div class="col-md-6">
                                    <h2 style = "color:white;font-size:40px">Mechanical Systems</h2>
                                    <p class="mt" style = "color:white">Lorem Ipsum is simply dummy text of the 
                                        printing and typesetting industry. Lorem Ipsum has been the industry's
                                        standard dummy text ever since the 1500s, when an unknown printer took 
                                        a galley of type and scrambled it to make a type specimen book.</p><br>
                                    <a class="btn btn-md" style="text-align:center;" href="/mechSystems">Learn More</a>
                                </div>
                                <div class="col-md-6" style="text-align:center">
                                    <img data-u="image" src="/static/img/mechSystems/01.jpg" class="img-responsive mt" style="margin:auto;" alt="">
                                </div>
                            </div><!--/row-->
                        </div><!--/container-->
                        <img data-u="thumb" src="/static/img/mechSystems/thumb-01.jpg"/>
                    </div>

                    <div data-p="144.50" style='display:none;'>
                        <!-- Automation & Controls -->
                        <div id = "auto" class="container ptb">
                            <div class="row">
                                <div class="col-md-6">
                                    <h2 style="color:white; font-size:40px">Automation & Controls</h2>
                                    <p class="mt" style='color:white;'>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an 
                                        unknown printer took a galley of type and scrambled it to make a type specimen book.</p><br>
                                    <a class="btn btn-md" style="text-align:center;" href="/controls">Learn More</a>
                                </div>
                                <div class="col-md-6 bg-light-gray">
                                    <img data-u='image' src="/static/img/cpu.jpg" class="img-responsive mt" alt="">
                                </div>
                            </div><!--/row-->
                        </div><!--/container-->
                        <img data-u="thumb" src="/static/img/controls/icon.jpg"/>
                    </div>

                    <div data-p='144.50' style='display:none;'>
                        <!-- Renewable Power Generation -->
                        <div id = "power">
                            <div class="row">
                                <div class="col-md-6">
                                    <h2 style = "color:white;font-size:40px">Renewable Power Generation</h2>
                                    <p class="mt" style = "color:white">Lorem Ipsum is simply dummy text of the 
                                        printing and typesetting industry. Lorem Ipsum has been the industry's
                                        standard dummy text ever since the 1500s, when an unknown printer took 
                                        a galley of type and scrambled it to make a type specimen book.</p><br>
                                    <a class="btn btn-md" style="text-align:center;" href="/renewablePower">Learn More</a>
                                </div>
                                <div class="col-md-6">
                                    <img data-u='image' src="/static/img/solar.png" style="margin:auto" class="img-responsive mt" alt="">
                                </div>
                            </div><!--/row-->
                        </div><!--/container-->
                        <img data-u="thumb" src="/static/img/power/icon.png"/>
                    </div>
                    

                    <a data-u="add" href="http://www.jssor.com" style="display:none">Jssor Slider</a>

                </div>
                <!-- Thumbnail Navigator -->
                <div data-u="thumbnavigator" class="jssort01" style="position:absolute;left:0px;bottom:0px;width:800px;height:100px;" data-autocenter="1">
                    <!-- Thumbnail Item Skin Begin -->
                    <div data-u="slides" style="cursor: default;">
                        <div data-u="prototype" class="p">
                            <div class="w">
                                <div data-u="thumbnailtemplate" class="t"></div>
                            </div>
                            <div class="c"></div>
                        </div>
                    </div>
                    <!-- Thumbnail Item Skin End -->
                </div>
                <!-- Arrow Navigator -->
                <span data-u="arrowleft" class="jssora05l" style="background-color: gray; top:158px;left:8px;width:40px;height:40px;"></span>
                <span data-u="arrowright" class="jssora05r" style="background-color: gray; top:158px;right:8px;width:40px;height:40px;"></span>
            </div>
        </section>

        <!-- About Section -->
        <section id="about" style="background:white">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 class="section-heading">About</h2>
                        <h3 class="section-subheading text-muted"></h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <p style="line-height: 2.5;">Stony Brook Building Science, LLC. is headquartered 
                            in the LI High Technology Incubator and specializes in advanced energy
                            modeling and the development of solutions that optimize the energy efficiency of 
                            commercial and residential buildings. SBBS uniquely combines the disciplines of 
                            Energy Modeling, Mechanical Systems design and Building Automation. Efficiency measures
                            are modeled, designed, and optimally controlled.
                        </p>
                    </div>
                </div>
            </div>
        </section>        

        <!-- Services Section -->
        <section id="services" class = "bg-mid-gray">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 class="section-heading" style = "color:white">Services</h2>
                        <h3 class="section-subheading text-muted">Some of the main focus points.</h3>
                    </div>
                </div>
                <div class="row text-center" style='width:1200px'>
                    <div class="col-md-3 serviceColumn">
                        <a href="/energyModeling">
                            <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x text-primary"></i>
                                <i class="fa fa-plug fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                        <h4 class="service-heading">Energy Modeling</h4>
                        <p style="height:96px" class="text-muted">Stony Brook Building Science works on building 3D Models.</p>
                    </div>
                    <div class="col-md-3 serviceColumn borderColumn">
                        <a href ="/mechSystems">
                            <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x text-primary"></i>
                                <i class="fa fa-cubes fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                        <h4 class="service-heading">Mechanical Systems</h4>
                        <p style="height:96px" class="text-muted">Stony Brook Building Science works on planning out mechanical systems.</p>
                    </div>
                    <div class="col-md-3 serviceColumn borderColumn">
                        <a href="/controls">
                            <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x text-primary"></i>
                                <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                        <h4 class="service-heading">Automation & Controls</h4>
                        <p class="text-muted">SBBS specializes in Controls Design, Integration and Programming. 
                            We provide controls documentation for each project in integration of all the controls 
                            and deliverables.</p>
                    </div>
                    <div class="col-md-3 serviceColumn borderColumn">
                        <a href="/renewablePower">
                            <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x text-primary"></i>
                                <i class="fa fa-recycle fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                        <h4 class="service-heading">Renewable Power Generation</h4>
                        <p class="text-muted">SBBS is working on developing tools that will be able to re-use
                            power in an efficient and eco-friendly manner.</p>
                    </div>
                </div>
            </div>
        </section>

        <% include ../partials/clients %>

        <!--Google Maps section with overlay-->
        <!--<div style="height: 500px; position: relative;">
            <div id="map" style="height: 500px;">
            </div>
            <div id="map-overlay"></div>
            <div class="row" style="position: absolute;">
                <div class="col-lg-12">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
                </div>
            </div>
        </div>-->

        <a class="scrollToTop smooth-scroll" data-ease="easeInQuad" data-history="true" href="#page-top" style="display: none;">
            <i class="fa fa-angle-up"></i>
        </a>

        <% include ../partials/footer %>
        <% include ../partials/bottomScripts %>
        <% include ../partials/readySlideshow %>
    </body>

</html>