<!DOCTYPE html>
<html>
    <% include ../partials/topCSS %>

    <body id="page-top" class="index">

        <!-- Navigation -->
        <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
            <div>
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header page-scroll">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>Menu<i class="fa fa-bars"></i>
                    </button>
                    <a class="navbar-brand smooth-scroll" data-ease="easeInOutQuad" data-history="true" href="#page-top">SBBS</span></a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="navbarButtons collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right listFont">
                        <li class="hidden">
                            <a href="#page-top"></a>
                        </li>
                        <li class="active">
                            <a class="smooth-scroll" data-ease="easeInOutQuad" data-callback="changeSlide" data-history="true" href="#main-slider">Energy Modeling</a>
                        </li>
                        <li>
                            <a class="smooth-scroll" data-ease="easeInOutQuad" data-callback="changeSlide" data-history="true" href="#main-slider">Mech. Systems</a>
                        </li>
                        <li>
                            <a class="smooth-scroll" data-ease="easeInOutQuad" data-callback="changeSlide" data-history="true" href="#main-slider">Automation &amp; Controls</a>
                        </li>
                        <li>
                            <a class="smooth-scroll" data-ease="easeInOutQuad" data-callback="changeSlide" data-history="true" href="#main-slider">Renewable Power</a>
                        </li>
                        <li>
                            <a href ="/about">About Us</a>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>

        <!-- Header -->
        <header>
            <div class="container headerSection text-center">
                <div class="intro-text">
                    <div class="intro-heading">Stony Brook Building Science</div>
                    <div class="intro-lead-in">Energy Modeling, Mechanical Systems Design, Controls &amp; Automation</div>
                    <div class="headerArrowContainer col-xs-12">
                        <a class="smooth-scroll" data-ease="easeInOutQuad" data-history="true" href="#main-slider">
                            <i class="fa fa-angle-down headerDownArrow"></i>
                        </a>
                    </div>
                </div>
            </div>
        </header>

        <!-- Side Toolbar -->
        <% include ../partials/sideToolbar %>

        <!-- Slideshow -->
        <% include ../partials/slideshow %> 

        <% include ../partials/footer %>
    </body>

</html>