<!DOCTYPE html>
<html>

    <% include ../partials/topCSS %>

    <body id="page-top" class="index">

        <!-- Navigation -->
        <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header page-scroll">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                    </button>
                    <a class="navbar-brand" href="/">SBBS</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="hidden">
                            <a href="#page-top"></a>
                        </li>
                        <li>
                            <p class="smooth-scroll pageName" data-ease="easeInOutQuad" data-history="true">Mechanical Systems:</p>
                        </li>
                        <li>
                            <a class="smooth-scroll" data-ease="easeInOutQuad" data-history="true" href ="#about">About</a>
                        </li>
                        <li>
                            <a class="smooth-scroll" data-ease="easeInOutQuad" data-history="true" href ="#2D">2D Models</a>
                        </li>
                        <li>
                            <a class="smooth-scroll" data-ease="easeInOutQuad" data-history="true" href ="#3D">3D Models</a>
                        </li>
                        <li>
                            <a class="smooth-scroll" data-ease="easeInOutQuad" data-history="true" href="#piping">Piping Calculations</a>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>

        <!-- Header -->
        <header style="background-image: url(/static/img/mech.jpg)">
            <div class="container">
                <div class="intro-text">
                    <div class="intro-heading">Mechanical Systems</div>
                    <div class="intro-lead-in">Modeling buildings for a more sustainable future. </div>
                </div>
            </div>
        </header>

        <!-- Side Toolbar -->
        <aside class="social-sidebar">
            <div class="sidebar-wrapper clearfix"><a id='toolClick' class="white-bkg pinterest-red-hover circle print" href="/" title="Home"><span class="label"></span><em class="fa fa-home"></em></a></div>
            <div class="sidebar-wrapper clearfix"><a id='toolClick' class="white-bkg pinterest-red-hover circle print" href="/energyModeling" title="Energy Modeling"><span class="label"></span><em class="fa fa-lightbulb-o"></em></a></div>
            <div class="sidebar-wrapper clearfix"><a id='toolClick' class="white-bkg pinterest-red-hover circle print" href="/controls" title="Controls & Automation"><span class="label"></span><em class="fa fa-laptop"></em></a></div>
            <div class="sidebar-wrapper clearfix"><a id='toolClick' class="white-bkg pinterest-red-hover circle print" href="/renewablePower" title="Renewable Power Generation"><span class="label"></span><em class="fa fa-recycle"></em></a></div>
        </aside>
       
        <!-- About Section -->
        <section id="about">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 class="section-heading">Mechanical Systems</h2>
                        <h3 class="section-subheading text-muted"></h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <p style="line-height: 2.5;">Insert information here about Mechanical Systems
                            information here at Stony Brook Building Science
                        </p>
                    </div>
                </div>                
            </div>
        </section>        



        <!-- 2D Models -->
        <section id="2D" class="bg-light-gray">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 class="section-heading">2D Models</h2>
                        <h3 class="section-subheading text-muted"></h3>
                    </div>
                </div>
                <div class="row">
                    <ul class="bxslider" style="text-align:center">
                        <li><img style="text-align:center" src="http://demo.masscode.ru/masspaging/pic/1.png" alt=""></li>
                    </ul>
                </div>
            </div>
        </section>

        <!-- 3D Models -->
        <section id="3D">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 class="section-heading">3D Models</h2>
                    </div>
                </div>
                <div class="row">
                    <ul class="bxslider" style="text-align:center">
                        <li>
                            <img src="/static/img/mechSystems/Picture1.jpg" alt="">
                            <br>
                            <strong><span>This is the first of 3 pictures</span></strong>
                            <br>
                        </li>
                        <li>
                            <img src="/static/img/mechSystems/Picture2.png" alt="">
                            <br>
                            <strong><span>This is the second of 3 pictures</span></strong>
                            <br>
                        </li>
                        <li>
                            <img src="/static/img/mechSystems/Picture3.png" alt="">
                            <br>
                            <strong><span>This is the third of 3 pictures</span></strong>
                            <br>
                        </li>
                    </ul>
                </div>
            </div>
        </section>

        <!-- Piping Calculations -->
        <section id="piping" class="bg-light-gray">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 class="section-heading">Piping Calculations</h2>
                        <h3 class="section-subheading text-muted"></h3>
                    </div>
                </div>
                <div class="row">
                    <ul class="bxslider" style="text-align:center">
                        <li><img src="http://demo.masscode.ru/masspaging/pic/1.png" alt=""></li>
                    </ul>
                </div>
            </div>
        </section>

        <aside class="clients">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <a href ="http://www.e2sys.com" target = "_blank">
                            <img class="img-centered img-responsive" src="/static/img/logos/easternenergy.jpg" alt ="">
                        </a>
                    </div>
                    <div class="col-lg-6">
                        <a href ="http://www.mwgroup.net/" target ="_blank">
                            <img class="img-centered img-responsive" src="/static/img/logos/mwgroup.jpg" alt = "">
                        </a>
                    </div>
                </div>
            </div>
        </aside>

        <a class="scrollToTop smooth-scroll" data-ease="easeInQuad" data-history="true" href="#page-top" style="display: none;">
            <i class="fa fa-angle-up"></i>
        </a>

        <% include ../partials/footer %>
        <% include ../partials/bottomScripts %>

        <script>
            $(document).ready(function () {
                $('.bxslider').bxSlider();
            });
        </script>


    </body>

</html>