<!DOCTYPE html>
<html>

    <% include ../partials/topCSS %>

    <body id="page-top" class="index">

        <!-- Navigation -->
        <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
            <div>
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header page-scroll">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                    </button>
                    <a class="navbar-brand" href="/">SBBS</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="navbarButtons collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right listFont">
                        <li class="hidden">
                            <a href="#page-top"></a>
                        </li>
                        <li>
                            <p class="smooth-scroll pageName" data-ease="easeInOutQuad" data-history="true">Mechanical Systems Design:</p>
                        </li>
                        <li>
                            <a class="smooth-scroll" data-ease="easeInOutQuad" data-history="true" href ="#about">About</a>
                        </li>
                        <li>
                            <a class="smooth-scroll" data-ease="easeInOutQuad" data-history="true" href ="#main-slider">Designs</a>
                        </li>
                        <li>
                            <a class="smooth-scroll" data-ease="easeInOutQuad" data-history="true" href="#piping">Piping Calculations</a>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>

        <!-- Header -->
        <header style="background-image: url(/static/img/headerImages/sierra332cropped.png)">
            <div class="container headerSection">
                <div class="intro-text">
                    <div class="intro-heading">Mechanical Systems Design</div>
                    <div class="intro-lead-in">Efficient designs based on 3D 
                    modeling and refined engineering practices.</div>
                    <div class="headerArrowContainer">
                        <a class="smooth-scroll" data-ease="easeInOutQuad" data-history="true" href="#about">
                            <i class="fa fa-angle-down headerDownArrow"></i>
                        </a>
                    </div>
                </div>
            </div>
        </header>

        <% include ../partials/sideToolbar %>

        <!-- About -->
        <section id="about">
            <div class="container variableCenter">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 class="section-heading">Mechanical Systems Design</h2>
                        <h3 class="section-subheading text-muted"></h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <p style="line-height: 2.5;">Efficient Architectural 
                            designs must be outfitted with properly specified 
                            and designed mechanical systems in order to achieve 
                            optimal building performance.  SBBS specializes in 
                            efficient MEP design practices including high-end 
                            HVAC and geothermal systems. Mechanical plans based 
                            on 3D modeling ensure optimal equipment 
                            configurations. Adherence to strict engineering 
                            design practices ensures maximum efficiency.  
                        </p>
                    </div>
                </div>
                <br>
            </div>
        </section>        

        <!-- Slideshow -->
        <% include ../partials/slideshow %>

        <!-- Piping Calculations -->
        <section id="piping" class="bg-light-gray">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 class="section-heading">Piping Calculations</h2>
                        <h3 class="section-subheading text-muted"></h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <p style="line-height: 2.5;">Insert information here about piping calculations here.
                        </p>
                    </div>
                </div>                
            </div>
        </section>

       <% include ../partials/footer %>
    </body>

</html>