<!DOCTYPE html>
<html>
    <% include ../partials/topCSS %>

    <body id="page-top" class="index">

        <!-- Navigation -->
        <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
            <div>
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header page-scroll">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                    </button>
                    <a class="navbar-brand" href="/">SBBS</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="navbarButtons collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right listFont">
                        <li class="hidden">
                            <a href="#page-top"></a>
                        </li>
                        <li>
                            <p class="smooth-scroll pageName" data-ease="easeInOutQuad" data-history="true">Renewable Power:</p>
                        </li>
                        <li>
                            <a class="smooth-scroll" data-ease="easeInOutQuad" data-history="true" href ="#about">About</a>
                        </li>
                        <li>
                            <a class="smooth-scroll" data-ease="easeInOutQuad" data-history="true" href ="#focus">Areas of Practice</a>
                        </li>
                        <li>
                            <a class="smooth-scroll" data-ease="easeInOutQuad" data-history="true" href="#main-slider">Slideshow</a>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>

        <!-- Header -->
        <header id="powerHeader" class="parallax" data-factor="0.6" data-image="/img/headerImages/power.jpg">
            <div class="container headerSection">
                <div class="intro-text">
                    <div class="intro-heading">Renewable Power Generation</div>
                    <div class="intro-lead-in">Modeling buildings for a more sustainable future. </div>
                    <div class="headerArrowContainer">
                        <a class="smooth-scroll" data-ease="easeInOutQuad" data-history="true" href="#about">
                            <i class="fa fa-angle-down headerDownArrow"></i>
                        </a>
                    </div>
                </div>
            </div>
        </header>

        <% include ../partials/sideToolbar %>
        
        <!-- About Section -->
        <section id="about" class="bg-light-gray">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 class="section-heading">Renewable Power Generation</h2>
                        <h3 class="section-subheading text-muted"></h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <p style="line-height: 2.5;">SBBS is working on generating power to save energy in an efficient and eco-friendly manner.
                        </p>
                    </div>
                </div>
                <br>
            </div>
        </section>
        
        <!-- Services -->
            <section id="focus" class="text-center bg-white">
                <div class="container" style="text-align:center; width:92%;">
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <h2 class="section-heading">Areas of Practice</h2>
                            <h3 class="section-subheading"></h3>
                        </div>
                    </div>
                    <div class="row text-center serviceRow">
                            <div class="col-md-4 col-xs-12 serviceColumn leftServiceColumn">
                                <span class="fa-stack fa-4x">
                                    <img src="/img/power/sun.png">
                                </span>
                                <h4 class="service-heading">PV</h4>
                                <p class="text-muted">Design and Analysis of PV 
                                systems. Includes cost and savings analysis, 
                                power generation potential, shading analysis, 
                                3D Design and Layout Design.</p>
                            </div>
                            <div class="col-md-4 col-xs-12 serviceColumn borderColumn">
                                <span class="fa-stack fa-4x">
                                    <img src="/img/power/wind.png">
                                </span>
                                <h4 class="service-heading">Wind</h4>
                                <p class="text-muted">Design and Analysis of 
                                    wind power production. Using TMY based data 
                                    and geographical analysis, SBBS provides 
                                    cost and savings analysis, power generation 
                                    potential, 3D Design and layout design of 
                                    wind farm and transmissibility.</p>
                            </div>
                            <div class="col-md-4 col-xs-12 serviceColumn rightServiceColumn borderColumn">
                                <span class="fa-stack fa-4x">
                                    <img src="/img/power/battery.png">
                                </span>
                                <h4 class="service-heading">Fuel Cell</h4>
                                <p class="text-muted">Design and Analysis of 
                                    wind power production. Using TMY based data 
                                    and geographical analysis, SBBS provides 
                                    cost and savings analysis, power generation 
                                    potential, 3D Design and layout design of 
                                    wind farm and transmissibility.
                                </p>
                            </div>
                    </div>
                </div>
            </section>
            <!-- End Services --> 
        
        <% include ../partials/slideshow %>

        <% include ../partials/footer %>
    </body>

</html>