<!DOCTYPE html>
<html>
    <% include ../partials/topCSS %>

    <body id="page-top" class="index">

        <!-- Navigation -->
        <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header page-scroll">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                    </button>
                    <a class="navbar-brand" href="/">SBBS</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="hidden">
                            <a href="#page-top"></a>
                        </li>
                        <li>
                            <p class="smooth-scroll pageName" data-ease="easeInOutQuad" data-history="true">Renewable Power:</p>
                        </li>
                        <li>
                            <a class="smooth-scroll" data-ease="easeInOutQuad" data-history="true" href ="#about">About</a>
                        </li>
                        <li>
                            <a class="smooth-scroll" data-ease="easeInOutQuad" data-history="true" href ="#geothermal">Geothermal</a>
                        </li>
                        <li>
                            <a class="smooth-scroll" data-ease="easeInOutQuad" data-history="true" href ="#plant">Plant Optimization</a>
                        </li>
                        <li>
                            <a class="smooth-scroll" data-ease="easeInOutQuad" data-history="true" href="#netZero">Net Zero</a>
                        </li>
                        <li>
                            <a class="smooth-scroll" data-ease="easeInOutQuad" data-history="true" href="#tools">Tools</a>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>

        <!-- Header -->
        <header style="background-image: url(/static/img/power.jpg)">
            <div class="container">
                <div class="intro-text">
                    <div class="intro-heading">Renewable Power Generation</div>
                    <div class="intro-lead-in">Modeling buildings for a more sustainable future. </div>
                </div>
            </div>
        </header>

        <!-- Side Toolbar -->
        <aside class="social-sidebar">
            <div class="sidebar-wrapper clearfix"><a id='toolClick' class="white-bkg pinterest-red-hover circle print" href="/" title="Home"><span class="label"></span><em class="fa fa-home"></em></a></div>
            <div class="sidebar-wrapper clearfix"><a id='toolClick' class="white-bkg pinterest-red-hover circle print" href="/energyModeling" title="Energy Modeling"><span class="label"></span><em class="fa fa-lightbulb-o"></em></a></div>
            <div class="sidebar-wrapper clearfix"><a id='toolClick' class="white-bkg pinterest-red-hover circle print" href="/mechSystems" title="Mechanical Systems"><span class="label"></span><em class="fa fa-cogs"></em></a></div>
            <div class="sidebar-wrapper clearfix"><a id='toolClick' class="white-bkg pinterest-red-hover circle print" href="/controls" title="Controls & Automation"><span class="label"></span><em class="fa fa-laptop"></em></a></div>
        </aside>
        
        <!-- About Section -->
        <section id="about" class="bg-light-gray">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 class="section-heading">Energy Modeling</h2>
                        <h3 class="section-subheading text-muted"></h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <p style="line-height: 2.5;">SBBS provides in-depth building energy optimization for both new 
                            construction and existing commercial and residential buildings.   We utilize numerous energy modeling programs, 
                            including but not limited: TMY Based Energy Modeling, Green Building Studio, Insight 360 and Revit Building MEP. 
                            These programs utilize computer automated drawings along with a description of the building layout, constructions, 
                            operating schedules, conditioning systems (lighting, HVAC, etc.), and utility rates provided by the user, along 
                            with weather data, to perform an hourly simulation of the building and to estimate utility bills.
                        </p>
                    </div>
                </div>
                <br>
            </div>
        </section>

        <section id="slideshow">
            <div class="container">
                <div class="row">
                    <ul class="bxslider" style="text-align:center">
                        <li><img style="text-align:center" src="/static/img/energy/Picture1.jpg" alt=""></li>
                        <li><img style="text-align:center" src="/static/img/energy/Picture2.jpg" alt=""></li>
                    </ul>
                </div>
            </div>
        </section>

        <!-- Geothermal Section -->
        <section id="geothermal">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 class="section-heading">Geothermal Innovations</h2>
                        <h3 class="section-subheading text-muted"></h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <p style="line-height: 2.5;">Stony Brook Building Science specializes in geothermal energy. 
                            Geothermal systems use less oil, coal and gas and decrease the emission of greenhouse gasses. Geothermal 
                            energy is becoming more prevalent due to their eco-friendly ability to lower energy costs.
                        </p>
                    </div>
                </div>              
            </div>
        </section>        

        <!-- Plant Optimization Section -->
        <section id="plant" class="bg-light-gray">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 class="section-heading">Plant Optimization</h2>
                        <div class='row'>
                            <div class="col-lg-8 col-lg-offset-2">
                                <p style="line-height: 2.5;">SBBS uses controls to provide efficient operational management 
                                    for any residence or commercial building. By closely monitoring MEP systems, evaluating the 
                                    processes in place and taking the essential steps to assure that the plant has the equipment
                                    that best uses its raw materials, and that this equipment is being used in the most efficient manner. 
                                </p>
                            </div>
                        </div>
                        <img src="/static/img/energy/plantChiller.jpg" alt=''>
                    </div>
                </div>
            </div>
        </section>

        <!-- Net Zero -->
        <section id="netZero">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h2>Net Zero</h2>
                        <p style="line-height:2.5;">Our goal is to create the most efficient building models and systems that 
                            can sustain themselves. By building net zero energy models, we hope to help others 
                            decrease their carbon footprint and reduce utility costs as much as possible. 
                        </p>
                    </div>
                    <div class="col-md-6">
                        <img src="/static/img/cogs.jpg" class="img-responsive" alt="">
                    </div>
                </div><!--/row-->
            </div><!--/container-->
        </section>

        <!-- Tools -->
        <section id="tools" class="bg-light-gray">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 class="section-heading">Tools</h2>
                        <h3 class="section-subheading text-muted"></h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <p style="line-height: 2.5;">Stony Brook Building Science utilizes multiple
                            software tools in order to ensure quality assurance within our models. 
                            Using these analytical tools, we can precisely quote utility savings, 
                            data analysis, and energy outputs. These programs include but are not 
                            limited to: TMY Based Energy Modeling, Energy Plus, Matlab, Green Building 
                            Studio, Insight 360, NREL SAM and Revit Building MEP.
                        </p>
                    </div>
                </div>              
            </div>
        </section>

        <aside class="clients">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <a href ="http://www.e2sys.com" target = "_blank">
                            <img class="img-centered img-responsive" src="/static/img/logos/easternenergy.jpg" alt ="">
                        </a>
                    </div>
                    <div class="col-lg-6">
                        <a href ="http://www.mwgroup.net/" target ="_blank">
                            <img class="img-centered img-responsive" src="/static/img/logos/mwgroup.jpg" alt = "">
                        </a>
                    </div>
                </div>
            </div>
        </aside>

        <a class="scrollToTop smooth-scroll" data-ease="easeInQuad" data-history="true" href="#page-top" style="display: none;">
            <i class="fa fa-angle-up"></i>
        </a>

        <% include ../partials/footer %>
        <% include ../partials/bottomScripts %>

        <script>
            $(document).ready(function () {
                $('.bxslider').bxSlider();
                /**var iElem = $("<i>");
                 iElem.addClass("fa fa-facebook");
                 $(".bx-prev").append(iElem);
                 $(".bx-next").append(iElem);**/
            });
        </script>
    </body>

</html>