<!DOCTYPE html>
<html>
    <% include ../partials/topCSS %>

    <body id="page-top" class="index">

        <!-- Navigation -->
        <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header page-scroll">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                    </button>
                    <a class="navbar-brand" href="/">SBBS</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="hidden">
                            <a href="#page-top"></a>
                        </li>
                        <li>
                            <p class="smooth-scroll pageName" data-ease="easeInOutQuad" data-history="true">Renewable Power:</p>
                        </li>
                        <li>
                            <a class="smooth-scroll" data-ease="easeInOutQuad" data-history="true" href ="#about">About</a>
                        </li>
                        <li>
                            <a class="smooth-scroll" data-ease="easeInOutQuad" data-history="true" href ="#pv">PV</a>
                        </li>
                        <li>
                            <a class="smooth-scroll" data-ease="easeInOutQuad" data-history="true" href ="#wind">Wind</a>
                        </li>
                        <li>
                            <a class="smooth-scroll" data-ease="easeInOutQuad" data-history="true" href="#fuelCell">Fuel Cell</a>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>

        <!-- Header -->
        <header style="background-image: url(/static/img/power.jpg)">
            <div class="container">
                <div class="intro-text">
                    <div class="intro-heading">Renewable Power Generation</div>
                    <div class="intro-lead-in">Modeling buildings for a more sustainable future. </div>
                </div>
            </div>
        </header>

        <!-- Side Toolbar -->
        <aside class="social-sidebar">
            <div class="sidebar-wrapper clearfix"><a id='toolClick' class="white-bkg pinterest-red-hover circle print" href="/" title="Home"><span class="label"></span><em class="fa fa-home"></em></a></div>
            <div class="sidebar-wrapper clearfix"><a id='toolClick' class="white-bkg pinterest-red-hover circle print" href="/energyModeling" title="Energy Modeling"><span class="label"></span><em class="fa fa-lightbulb-o"></em></a></div>
            <div class="sidebar-wrapper clearfix"><a id='toolClick' class="white-bkg pinterest-red-hover circle print" href="/mechSystems" title="Mechanical Systems"><span class="label"></span><em class="fa fa-cogs"></em></a></div>
            <div class="sidebar-wrapper clearfix"><a id='toolClick' class="white-bkg pinterest-red-hover circle print" href="/controls" title="Controls & Automation"><span class="label"></span><em class="fa fa-laptop"></em></a></div>
        </aside>
        
        <!-- About Section -->
        <section id="about" class="bg-light-gray">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 class="section-heading">Renewable Power Generation</h2>
                        <h3 class="section-subheading text-muted"></h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <p style="line-height: 2.5;">SBBS is working on generating power to save energy in an efficient and eco-friendly manner.
                        </p>
                    </div>
                </div>
                <br>
            </div>
        </section>

        <!-- PV Section -->
        <section id="pv">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 class="section-heading">PV</h2>
                        <h3 class="section-subheading text-muted"></h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <p style="line-height: 2.5;">Design and Analysis of PV systems. Includes cost and 
                        savings analysis, power generation potential, shading analysis, 3D Design and Layout Design.
                        </p>
                    </div>
                </div>
                <br>
            </div>
        </section>
        
        <!-- Wind Section -->
        <section id="wind" class="bg-light-gray">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 class="section-heading">Wind</h2>
                        <h3 class="section-subheading text-muted"></h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <p style="line-height: 2.5;">Insert information about renewable wind power.
                        </p>
                    </div>
                </div>
                <br>
            </div>
        </section>
        
        <!-- Fuel Cell Section -->
        <section id="fuelCell">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 class="section-heading">Fuel Cell</h2>
                        <h3 class="section-subheading text-muted"></h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <p style="line-height: 2.5;">Insert information about renewable fuel cell power.
                        </p>
                    </div>
                </div>
                <br>
            </div>
        </section>
        
        <section id="slideshow">
            <div class="container">
                <div class="row">
                    <ul class="bxslider" style="text-align:center">
                        <li><img style="text-align:center" src="/static/img/energy/Picture1.jpg" alt=""></li>
                        <li><img style="text-align:center" src="/static/img/energy/Picture2.jpg" alt=""></li>
                    </ul>
                </div>
            </div>
        </section>

        <aside class="clients">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <a href ="http://www.e2sys.com" target = "_blank">
                            <img class="img-centered img-responsive" src="/static/img/logos/easternenergy.jpg" alt ="">
                        </a>
                    </div>
                    <div class="col-lg-6">
                        <a href ="http://www.mwgroup.net/" target ="_blank">
                            <img class="img-centered img-responsive" src="/static/img/logos/mwgroup.jpg" alt = "">
                        </a>
                    </div>
                </div>
            </div>
        </aside>

        <a class="scrollToTop smooth-scroll" data-ease="easeInQuad" data-history="true" href="#page-top" style="display: none;">
            <i class="fa fa-angle-up"></i>
        </a>

        <% include ../partials/footer %>
        <% include ../partials/bottomScripts %>

        <script>
            $(document).ready(function () {
                $('.bxslider').bxSlider();
                var iElem = $("<i>");
                 iElem.addClass("fa fa-facebook");
                 $(".bx-prev").append(iElem);
                 $(".bx-next").append(iElem);
            });
        </script>
    </body>

</html>