<!DOCTYPE html>
<html>
    <% include ../partials/test %>
    <body>
        <p>The title should be 'Test Page'</p>
        <p>And here's a random number: <%=random %></p>
    </body>
</html>
<!--Delete this-->