<!DOCTYPE html>
<html>
    <% include ../partials/topCSS %>

    <body id="page-top" class="index">

        <!-- Header -->
        <header>
            <div class="container text-center" id="constructionContainer">
                <div class="intro-text" style="padding-bottom:0px; padding-top:100px;">
                    <div class="intro-heading">Stony Brook Building Science</div>
                    <div class="intro-lead-in">Energy Modeling, Mechanical Systems Design, Controls &amp; Automation, Renewable Power Generation</div>
                    <div style="font-size:35px; color:red;">
                        <strong>We are currently under construction.</strong>
                    </div>
                </div>
            </div>
        </header>
        
    </body>

</html>